﻿@model EasyGhaat.Models.about_stripe
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}


@*<script src="~/scripts/tinymce/tinymce.js"></script>
<script src="~/scripts/main.js"></script>*@
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    About Us
                </h3>

               @if(Model!=null)
               {
                 <form action="@Url.Action("Edit","AboutUs")" method="post" >
                    <div class="col-md-6">
                        
                        <label>LeftSide Content</label>
                        <textarea name="LeftSideContent" rows="8" cols="8" id="LeftSideContent" value="@Model.about_content" class="form-control">
                            @Model.about_content
                        </textarea>
                        <label>RightSide Content</label>
                        <textarea name="RightSideContent" rows="8" cols="8" id="RightSideContent" value="@Model.RightSideContent" class="form-control">
                            @Model.RightSideContent
                        </textarea>
                        <label>ReadMore Content</label>
                        <textarea name="ReadMoreContent" rows="8" cols="8" id="ReadMoreContent"  value="@Model.ReadMore_Content" class="form-control">
                            @Model.ReadMore_Content
                        </textarea>
                        <br />
                           
                        <input type="submit" class="btn btn-primary" name="submit" />
                               
                        <input type="hidden" id="hdnId" value="@Model.id" name="hdnId" />
                    </div>
                </form>
               }
               else
               {

                <form action="@Url.Action("Create","AboutUs")" method="post">
                    <div class="col-md-6">                        
                        <label>LeftSide Content</label>
                        <textarea name="LeftSideContent" rows="8" cols="8" id="LeftSideContent" class="form-control"></textarea>
                        <label>RightSide Content</label>
                        <textarea name="RightSideContent" rows="8" cols="8" id="RightSideContent" class="form-control"></textarea>
                        <label>ReadMore Content</label>
                        <textarea name="ReadMoreContent" rows="8" cols="8" id="ReadMoreContent" class="form-control"></textarea>
                        <br />
                        <input type="submit" class="btn btn-primary" name="submit" />
                    </div>
                </form>

               }
            </div>
        </div>
    </div>
</div>







