﻿@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

        Alert("SuccessFully Added");

    </script>
}


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#PermanentAddress").hide();
        $("#hdnchk").val(1);
        $('#addresschk').attr('checked', 'checked');

            FillCity();

    });


    $(function () {

        $("#addresschk").click(function () {

            if ($(this).is(":checked"))
            {
                $("#PermanentAddress").hide();
            }
            else
            {
                $("#PermanentAddress").show();
                $("#hdnchk").val(2);

            }
        });
    });


    function FillCity()// this the code to bind cities
    {
        $('#ddlCity').html('');
        $('#ddlCity').append('<option value="0">Select City</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/StateCity/GetCities",
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlCity').append('<option value=' + value.Id + '>' + value.CityName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }






    $(document).ready(function () {
        //called when key is pressed in textbox
        $("#BankAccountNo").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });



        $('#html5Form').formValidation();

        $("#LongitudeCurrent").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $("#LattitudeCurrent").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $("#LongitudePermanent").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $("#LattitudePermanent").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });


        $("#PermanentPhoneNo").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $("#PhoneNo").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

    });




    function CheckPhoneNo()
    {
        var dataObject =
        {
            Per_PhoneNo: $("#PermanentPhoneNo").val()
        };
        $.ajax({
            type: "GET",
            url: "@Url.Action("CheckPhoneNo", "ManageEmployee")",
            data: dataObject,
        dataType: "json",
        success: function (data) {

            if (data == true) {
                alert('PhoneNo already exists!');
                $("#PermanentPhoneNo").val('');
                $("#PermanentPhoneNo").focus();
            }
        }
    });
    }





    function CheckEmailId()
    {
        var dataObject =
        {
            Email: $("#EmailId").val()
        };
        $.ajax({
            type: "GET",
            url: "@Url.Action("CheckEmailId", "ManageEmployee")",
            data: dataObject,
        dataType: "json",
        success: function (data) {

            if (data == true) {
                alert('EmailId already exists!');
                $("#EmailId").val('');
                $("#EmailId").focus();
            }
        }
    });
    }








</script>
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h4 class="page-header">
                Add Vendor
            </h4>
            <form method="post"   id="html5Form"  enctype="multipart/form-data" id="range" action="@Url.Action("Add","AddVendor")">
                <div class="col-md-8">
                    <br/>
                  
                    <label>Vendor Name</label>
                    <input type="text" name="Name"  id="Name" maxlength="100"  class="form-control" required=""/>

                    <br/>
                    <label>EmailId</label>
                    <input type="email" name="EmailId"  onfocusout="CheckEmailId();"  id="EmailId" maxlength="150" class="form-control" required="" />
                    <br/>
                    <label> Password</label>

                    <input type="text" name="Password" id="Password"  minlength="6"   maxlength="8" class="form-control" required="" />
                    <br/>
                    <label>Phone No</label>
                    <input type="text"  name="PhoneNo" maxlength="10" id="PhoneNo"   class="form-control" required=""  />
                    <br/>
                    <label>Assign Branch </label>
                    <select required name="ddlBranch" class="form-control" id="ddlBranch">
                        <option value="">Select Branch</option>
                        @foreach (EasyGhaat.Models.Branch Branch in Model.Branch)
                        {
                            <option value="@Branch.Id">@Branch.Name</option>
                        }
                    </select>
                    <br/>
                    <label>Permanent PhoneNo</label>
                    <input type="text" name="PermanentPhoneNo"  onfocusout="CheckPhoneNo();"  maxlength="10" id="PermanentPhoneNo" class="form-control" required="" />
                    <br/>
                    <label>DOJ</label>
                    <input type="date" name="DOJ" id="DOJ" class="form-control" required="" />
                    <br/>
                    <label>DOC</label>
                    <input type="date" name="DOC" id="DOC" class="form-control" required="" />
                    <br/>
                    <label>ServiceTax Number</label>
                    <input type="text" maxlength="50" title="" name="ServicetaxNo" id="ServicetaxNo"  class="form-control" />
                    <br/>
                    <label>Note</label>
                    <input type="text"    name="Note" id="Note" class="form-control"  />
                    <br/>
                </div>
                <div id="CurrentAddress" class="col-md-8">
                    <label>City </label>
                    <select required  name="ddlCityCurrent" class="form-control" id="ddlCityCurrent">
                        <option value="">Select City</option>
                        @foreach (EasyGhaat.Models.City City in Model.City)
                        {
                            <option value="@City.Id">@City.CityName</option>
                        }
                    </select>
                    <br />
                    <label>AreaId</label>
                    <input type="text" name="AreaIdCurrent"  maxlength="250" id="AreaIdCurrent" class="form-control" required="" />
                    <br />
                    <label>HouseShop No</label>
                    <input type="text" name="HouseShopCurrent"   maxlength="50" id="HouseShopCurrent" class="form-control" required="" />
                    <br />
                    <label>StreetName</label>
                    <input type="text" name="StreetNameCurrent"   maxlength="50" id="StreetNameCurrent" class="form-control" required="" />
                    <br />
                    <label>LandMark</label>
                    <input type="text" name="LandMarkCurrent"   maxlength="250" id="LandMarkCurrent" class="form-control"  />
                    <br />
                    <label>Longitude</label>
                    <input type="text" name="LongitudeCurrent" maxlength="8"  id="LongitudeCurrent" class="form-control" />
                    <br />
                    <label>Lattitude</label>
                    <input type="text" name="LattitudeCurrent" maxlength="8"    id="LattitudeCurrent" class="form-control"  />
                    <br />
                </div>
                <div class="col-md-8">
                    <label>Permanent Address Same As Current Address</label>
                    <input type="checkbox" name="addresschk" id="addresschk" />
                </div>             
                <div id="PermanentAddress" class="col-md-8">
                    <label>City </label>
                    <select  name="ddlCityPermanent" class="form-control" id="ddlCityPermanent">
                        <option >Select City</option>
                        @foreach (EasyGhaat.Models.City City in Model.City)
                        {
                            <option value="@City.Id">@City.CityName</option>
                        }
                    </select>
                    <br />
                    <label>AreaId</label>
                    <input type="text" name="AreaIdPermanent"  maxlength="250" id="AreaIdPermanent" class="form-control" />
                    <br />
                    <label>HouseShop No</label>
                    <input type="text"  name="HouseShopPermanent"  maxlength="250" id="HouseShopPermanent" class="form-control"  />
                    <br />
                    <label>StreetName</label>
                    <input type="text" name="StreetNamePermanent"  maxlength="50" id="StreetNamePermanent" class="form-control"  />
                    <br />
                    <label>LandMark</label>
                    <input type="text" name="LandMarkPermanent"  maxlength="250" id="LandMarkPermanent" class="form-control"  />
                    <br />
                    <label>Longitude</label>
                    <input type="text" name="LongitudePermanent" maxlength="8"  id="LongitudePermanent" class="form-control" />
                    <br />
                    <label>Lattitude</label>
                    <input type="text" name="LattitudePermanent" maxlength="8"    id="LattitudePermanent" class="form-control"  />
                    <br />
                </div>
                <div id="BankDetail" class="col-md-8">
                    <label>Bank Name</label>
                    <input type="text" name="BankName" maxlength="100"   id="BankName" class="form-control" required="" />
                    <br />
                    <label>Branch Name</label>
                    <input type="text" name="BranchName" maxlength="100" id="BranchName" class="form-control" required="" />
                    <br />
                    <label>Bank Account Number</label>
                    <input type="text" name="BankAccountNo"  id="BankAccountNo" class="form-control" required="" />
                    <br />
                    <label>IFSC Code</label>
                    <input type="text" name="IFSCCode" id="IFSCCode" maxlength="20" class="form-control" required="" />
                    <br />
                    <label>MICR </label>
                    <input type="text" name="MICR" id="MICR" maxlength="20" class="form-control" required="" />
                    <br />
                    <label>Account Type </label>
                    <select required name="ddlAccountType" class="form-control" id="ddlAccountType">
                        <option value="">Select AccountType</option>
                        <option value="1">Saving</option>
                        <option value="2">Current</option>
                    </select>
                    <br />
                </div>
                <div class="col-md-8">
                    <label>Upload Vendor Image</label>
                    <input type="file" id="file" name="files" accept="image/*" required="" />
                    <br />
                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewVendor")">View/Update Vendor</a>
                </div>
                <input type="hidden" id="hdnchk" name="hdnchk" />
            </form>
            <p></p>
        </div>
    </div>
</div>