﻿@model IEnumerable<EasyGhaat.Models.SP_ViewPromoCode_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        @if (Model != null)
            {
            <div class="row">

                <div class="col-lg-12">
                    <h4 class="page-header">
                        View PromoCodes
                    </h4>
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">

                                <th><center>PromoCodeID</center></th>
                                <th><center>PromoCode</center></th>
                                <th><center>ExpiryDate</center></th>
                                <th><center>RemainingCount</center></th>
                                <th><center>MaxDiscount</center></th>
                                <th><center>AppliedOn</center></th>
                                <th><center>PromoType</center></th>
                                <th><center>FlatAmount</center></th>
                                <th><center>Percentage</center></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.PromoCodeId</td>
                                    <td>@item.Promo_code</td>
                                    <td>@item.ExpiryDate</td>
                                    <td>@item.RemainingCount</td>
                                    <td>@item.MaxDisCount</td>
                                    <td>@item.AppliedOn</td>
                                    <td>@item.PromoType</td>
                                    <td>@item.FlatAmount</td>
                                    <td>@item.Percentage</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <a href="@Url.Action("Index","AddPromoCode")">Add More</a>
                </div>
            </div>
        }
        else
        {

        }
    </div>

</div>


