﻿@model IEnumerable<EasyGhaat.Models.testimonial>


<html lang="en">
<!--<![endif]-->
<head>
   


</head>

<body>

    <!-- Navigation -->
    <!-- Slider start -->



    <section id="testimonial" class="wow fadeInUp " style="background:#32c2e5;padding-bottom:0px">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp; color:#FFFFFF">TESTIMONIALS</h2>
                        <p class="subtitle" style="color:#FFFFFF">Seutem vel eum iriure</p>
                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>

        </div> <!-- Row End -->
        <div class="container">


            <div class="row">

                <div class="col-md-12" data-wow-delay="0.2s">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->

                        <center>
                            <ol class="carousel-indicators testo1">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active testo">
                                    <img class="img-responsive " src="@Url.Content(item.image_path)" alt="">
                                </li>
                                
                            </ol>
                        </center>

                        <!-- Carousel Slides / Quotes -->
                    
                        <div class="carousel-inner text-center">
@foreach (var item in Model)
{
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>

                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>@item.title</p>
                                            <small>@item.sub_title</small>
                                        </div>
                                    </div>

                                </blockquote>
                            </div>
                      
                           
                        <!-- Carousel Buttons Next/Prev -->
                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                            }
                        </div>
                </div>
                  
            </div>
              
        </div>

    </section> <!-- Section Testimonial End -->


</body>
</html>
