﻿@model EasyGhaat.Models.Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}




@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull Add Surge");

    </script>

}


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script type="text/javascript">


    $(document).ready(function () {

        $('.alphaonly').bind('keyup blur', function () {
            var node = $(this);
            node.val(node.val().replace(/[^a-z ]/g, ''));
        }
       );
    });

    </script>


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Update Product
                </h4>
                <form method="post" enctype="multipart/form-data" action="@Url.Action("Edit","UpdateProducts")">
                    <div class="col-md-6">
                        <label>Name</label>
                        <input type="text" name="Name" id="Name"  maxlength="50" value="@Model.Name" class="form-control " required="" />
                        <br />
                        <label>Description</label>
                        <textarea name="Description" id="Description" rows="8" cols="8" value="@Model.Description" class="form-control">
                            @Model.Description
                        </textarea>
                        <br />
                        <img style="width:100px; height:100px" src="@Url.Content(Model.ImgUrl)" alt="" class="img-responsive">
                        <br />
                        <br />
                        <label>Upload New</label>
                        <input type="file" id="file" name="files" accept="image/*" />
                        <br />
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <input type="hidden" id="hdnId" value="@Model.Id" name="hdnId" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

