﻿@using EasyGhaat;


@model  dynamic
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<html class="no-js">
 <!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>EasyGhaat</title>
    <meta name="description" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="../css/animate.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../css/owl.carousel.css" />
    <link rel="stylesheet" href="../css/owl.theme.css" />
    <!-- Pretty Photo -->
    <link rel="stylesheet" href="../css/prettyPhoto.css" />
    <!-- Main color style -->
    <link rel="stylesheet" href="../css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="../css/custom.css" />

    <!-- Responsive -->
    <link rel="stylesheet" href="../css/responsive.css" />
    <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
    <link rel="stylesheet" href="../css/bootstrap-social.css" />
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="../css/scrolling-nav.css" />

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <section id="service">

        <!-- download button strart-->
        <!-- End download button-->


        <div class="container">
            <!-- Welcome -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">Offer</h2>
                        <p class="subtitle">Duis autem vel eum iriure dolor</p>
                        <p>&nbsp;</p>
                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
            <div class="row">
            @foreach(EasyGhaat.Models.Offer ofr in Model.Offer)
            { 

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail" style="border: 1px solid #32c2e5;">
                        <img src="@Url.Content(ofr.OfferImage)" alt="">
                        <div class="caption">
                            <h4 class="pull-right"><span style="color:#003264"><i class="fa fa-inr fa-2x">&nbsp;</i></span>@ofr.OfferPrice</h4>
                            <h4>@ofr.OfferTitle</h4>
                            <p>@ofr.OfferContent</p>
                        </div>
                        <div class="ratings">
                            <button type="button" class="btn btn-primary pull-right offerbtnright"><i class="fa fa-shopping-cart" style="color:#FFF;">&nbsp;</i>Buy Now</button>

                            <p>
                                <button type="button" class="btn btn-primary offerbtnleft "><i class="fa fa-arrow-right" style="color:#FFF;">&nbsp;</i>View More</button>
                            </p>
                        </div>
                    </div>
                </div>


            }


            </div>  <!-- Row End -->
            <!-- Row End -->

        </div>
    </section>
    <!--footer-->
    <section id="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
                    {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title1</h3>

                            <img src="@Url.Content(Footer.content1)" alt="" class="img-responsive">

                        </div>
                    }
                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title2</h3>
<div class="footer_menu">
                        <ul>

                            @Html.Raw(Footer.content2)
</ul></div>
                        </div>
                    }



                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title3</h3>
<div class="footer_menu">
                        <ul>

                            @Html.Raw(Footer.content3)
</ul></div>
                        </div>
                    }




                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title4</h3>

                            <img src="@Url.Content(Footer.content4)" alt="" class="img-responsive">

                        </div>
                    }




                </div>
                <label>&nbsp;</label>

@foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
{


    <center>
        <p style="color:#FFFFFF">

            @Footer.copyright
            Developed by: <a href="http://www.zeusadsolutions.com" alt="Software Company" title="Software Development and Web Development Company" target="_blank">ZeusAdSolutions</a>
        </p>
    </center>
}
            </div>

        </div>

    </section>
    <!--footer end-->
    <div id="back-top">

        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>

    <!-- About us start -->
    <!-- Javascript Files
        ================================================== -->
    <!-- initialize jQuery Library -->
    <!-- initialize jQuery Library -->
    <!-- Main jquery -->
    <script type="text/javascript" src="../js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="../js/owl.carousel.min.js"></script>
    <!-- Isotope -->
    <script src="../js/jquery.isotope.js"></script>
    <!-- Pretty Photo -->
    <script type="text/javascript" src="../js/jquery.prettyPhoto.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="../js/smooth-scroll.js"></script>
    <!-- Image Fancybox -->
    <script type="text/javascript" src="../js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Counter  -->
    <script type="text/javascript" src="../js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="../js/waypoints.min.js"></script>
    <!-- Bx slider -->
    <script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="../js/jquery.scrollTo.js"></script>
    <!-- Easing js -->
    <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
    <!-- PrettyPhoto -->
    <script src="../js/jquery.singlePageNav.js"></script>
    <!-- Wow Animation -->
    <script type="js/javascript" src="../js/wow.min.js"></script>
    <!-- Google Map  Source -->
    <!-- Custom js -->
    <script src="../js/custom.js"></script>

    <script src="../js/scrolling-nav.js"></script>
    <script src="../js/jquery.easing.min.js"></script>
</body>
</html>