﻿


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var branchId;
        var VendorId;
        var PCityId;
        var CCityId;
        bind_drp_Branch();
        $("#ddlVendor").prop("disabled", true);
        $('#ddlBranch').change(function () {
            branchId = $(this).val();
            FillVendor(branchId);
        });
        $('#tblshow').hide();
        $('#btnActive').hide();
        $('#tblshow').html('');
        $('#btnupdateFirst').hide();
        $('#tblshowBankDetail').hide();
        $('#btnupdateFourth').hide();
        $('#btnupdateThird').hide();
        $('#EdittblAdressDetail').hide();
        $('#EdittblAdressDetailCurrent').hide();
        $('#btnupdateSecondone').hide();
        $('#btnupdateSecond').hide();
        $('#ddlCityp').hide();
        $('#ddlCityc').hide();
        $('#Addp').hide();
        $('#Addc').hide();
        $('#VendorDetail').hide();
        $('#AddressDetailP').hide();
        $('#AddressDetailC').hide();
        $('#SalaryDetail').hide();
        $('#BankDetail').hide();
        $('#btnFirst').hide();
        $('#btnSecond').hide();
        $('#btnThird').hide();
        $('#btnFourth').hide();

        $('#btnFirst').click(function () {
            $('#tblshow').show();
            $('#btnupdateFirst').show();
            //$('#VendorDetail').hide();
            
        });
        $('#btnFourth').click(function () {
            $('#tblshowBankDetail').show();
            $('#btnupdateFourth').show();
            $('#BankDetail').hide();
        });
        $('#btnSecond').click(function () {
            $('#EdittblAdressDetail').show();
            $('#EdittblAdressDetailCurrent').show();
            $('#btnupdateSecondone').show();
            $('#btnupdateSecond').show();
            $('#Addp').show();
            $('#Addc').show();
            $('#ddlCityp').show();
            $('#ddlCityc').show();
            $('#AddressDetailP').hide();
            $('#AddressDetailC').hide();
            matchCity();
            bind_drp_City();
        });
        $('#ddlVendor').change(function () {
            VendorId = $(this).val();
            $('#tblVendorDetail').html('');
            $('#tblAdressDetail').html('');
            $('#tblBankDetail').html('');
            $('#VendorDetail').show();
            $('#AddressDetailP').show();
            $('#AddressDetailC').show();
            $('#SalaryDetail').show();
            $('#BankDetail').show();
            $('#btnFirst').show();
            $('#btnSecond').show();
            $('#btnThird').show();
            $('#btnFourth').show();
            $('#btnActive').show();
            FillVendorTables(VendorId);
            FillVendorAddresstbl(VendorId);
            
        });
    });

    function matchCity() {
        citynamep = $('#spancityp').text();
        citynamec = $('#spancityc').text();
    }

    function updateBank()
    {
        var txtBankName = $('#txtBankName').val();
        var txtIFSC = $('#txtIFSC').val();
        var txtBranchName = $('#txtBranchName').val();
        var txtMICR = $('#txtMICR').val();
        var txtAccountType = $('#txtAccountType').val();
        var txtBankAccountNumber = $('#txtBankAccountNumber').val();
        var dataObject =
            {
                BankName: txtBankName,
                IFSC: txtIFSC,
                VendorId: $('#ddlVendor').val(),
                IsDeleted: 0,
                // IsActive: 1,
                //CreateDate: Date,
                BranchName: txtBranchName,
                MICR: txtMICR,
                AccountType: txtAccountType,
                BankAccountNumber: txtBankAccountNumber
            };
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateBankDetail", "ViewVendor")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                // $('#tblshow').hide();
                alert('Done!');
                window.location.reload();
            }
        });
    }
    function updatePermanentAddress()
    {
        var txtAddressType = $('#txtAddressType').val();
        var txtCityName = $('#txtCityName').val();
        var txtAreaId = $('#txtAreaId').val();
        var txtHouseNo = $('#txtHouseNo').val();
        var txtStreetName = $('#txtStreetName').val();
        var txtLandMark = $('#txtLandMark').val();
        var ddlCityId = $('#ddlCityp').val();
        var dataObject =
            {
                AddressType: txtAddressType,
                CityId: ddlCityId,
                AddTypeId: 4,
                IsDeleted: 0,
                AreaId: txtAreaId,
                House_ShopNo: txtHouseNo,
                StreetName: txtStreetName,
                LandMark: txtLandMark,
                VendorId: $('#ddlVendor').val(),
                Longitude: $('#txtLongitude').val(),
                Lattitude: $('#txtLattitude').val()
            };


        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateAddress", "ViewVendor")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                alert('Done!');
                window.location.reload();
            }
        });
    }




    function updateCurrentAddress()
    {
        var txtAddressTypeCurrent = $('#txtAddressTypeCurrent').val();
        var txtCityNameCurrent = $('#txtCityNameCurrent').val();
        var txtAreaIdCurrent = $('#txtAreaIdCurrent').val();
        var txtHouseNoCurrent = $('#txtHouseNoCurrent').val();
        var txtStreetNameCurrent = $('#txtStreetNameCurrent').val();
        var txtLandMarkCurrent = $('#txtLandMarkCurrent').val();
        var ddlCityId = $('#ddlCityc').val();

        var dataObject =
            {
                AddressType: txtAddressTypeCurrent,
                CityId: ddlCityId,
                AddTypeId: 5,
                IsDeleted: 0,
                AreaId: txtAreaIdCurrent,
                House_ShopNo: txtHouseNoCurrent,
                StreetName: txtStreetNameCurrent,
                LandMark: txtLandMarkCurrent,
                VendorId: $('#ddlVendor').val(),
                Longitude: $('#txtLongitudeCurrent').val(),
                Lattitude: $('#txtLattitudeCurrent').val()

            };
        $.ajax({
            type: "POST",
            url:"@Url.Action("UpdateAddress", "ViewVendor")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                // $('#tblshow').hide();
                alert('Done!');
                window.location.reload();
            }
        });
    }

    function updateVendor()
    { 
        var dataObject =
           {
         Id : $('#ddlVendor').val(),
         VendorName : $('#txtVendorName').val(),
         Password : $('#txtPassword').val(),
         PhoneNo :$('#txtPhoneNo').val(),
         Per_PhoneNo : $('#txtPer_PhoneNo').val(),
         DOJ : $('#txtDOJ').val(),
         DateOfContract : $('#txtDateOfContract').val(),
         ServiceTaxNo : $('#txtServiceTaxNo').val(),
         Email : $('#txtEmail').val()
            };

        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateVendor", "ViewVendor")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                alert('Done!');
                window.location.reload();
            }
        });
    }

    function checkEmail()

    {
        var txtEmailId = $('#txtEmail').val();
        var dataObject =
            {
                Email: txtEmailId,
            };
        $.ajax({
            type: "POST",
            url: "@Url.Action("CheckEmail", "ViewVendor")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
             //  console.log('received this data: ' + data);

               if (data==false)
               {
               alert("EmailId Already Exists");
               }
               if(data==true)
               {

               }
            }
        });
    }


    function InActiveVendor()

    {
      
        var dataObject =
            {
                Id: $('#ddlVendor').val(),
            };
        $.ajax({
            type: "POST",
            url: "@Url.Action("InActiveVendor", "ViewVendor")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
   
                alert("Done");
                window.location.reload();
        
        }
    });
    }

    function CheckPhoneNo()

    {
        var txtPhoenNo = $('#txtPer_PhoneNo').val();
        var dataObject =
            {
                Per_PhoneNo: txtPhoenNo,
            };
        $.ajax({
            type: "POST",
            url: "@Url.Action("CheckPhoneNo", "ViewVendor")",
            data: dataObject,
            dataType: "json",
            success: function (data) {

                if (data == false)
                {
                    alert("Phone Number Already Exists");
                }

                if (data == true)
                {

                }
            }
        });
    }

    function bind_drp_Branch()

    {
        $('#ddlBranch').html('');
        $('#ddlBranch').append('<option value="0">Select Branch</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/GetBranchs",
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlBranch').append('<option value=' + value.BranchId + '>' + value.BranchName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }


    function FillVendor(BranchId)
    { // this the code to bind Vendor
        $('#ddlVendor').html('');
        $("#ddlVendor").prop("disabled", false);
        $('#ddlVendor').append('<option value="0">Select Vendor</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/ViewGetVendorByBranchIds/" + BranchId,
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlVendor').append('<option value=' + value.Id + '>' + value.VendorName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }



    function FillVendorTables(VendorId) {
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/ViewGetVendorDetails/" + VendorId,
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#tblVendorDetail').append('<tr><td>' + value.VendorName + '</td><td>' + value.Password + '</td><td>' + value.PhoneNo + '</td><td>' + value.Per_PhoneNo + '</td> <td>' + value.DOJ + '</td><td>' + value.DateOfContract + '</td><td>' + value.ServiceTaxNo + '</td><td>' + value.Email + '</td></tr>');
                     
                    if (value.BankAccountNumber != null)
                    {
                        $('#tblBankDetail').append('<tr><td>' + value.BankAccountNumber + '</td> <td>' + value.BankName + '</td><td>' + value.BranchName + '</td><td>' + value.IFSC + '</td> <td>' + value.MICR + '</td><td>' + value.AccountType + '</td></tr>');
                        $('#tblshowBankDetail').append('<tr><td><input type="text" value= ' + value.BankAccountNumber + ' id="txtBankAccountNumber"/></td><td><input type="text" value= ' + value.IFSC + ' id="txtIFSC"/></td><td><input type="text" value= ' + value.BankName + ' id="txtBankName"/></td><td><input type="text" value= ' + value.BranchName + ' id="txtBranchName"/></td><td> <input type="text" value= ' + value.MICR + ' id="txtMICR"/></td><td> <input type="text" value= ' + value.AccountType + ' id="txtAccountType"/></td> </tr>');
                    }                
                    $('#tblshow').append('<tr><td><input type="text" value= ' + value.VendorName + ' id="txtVendorName"/></td><td><input type="text" value= ' + value.Password + ' id="txtPassword"/></td><td><input type="text" value= ' + value.PhoneNo + ' id="txtPhoneNo"/></td><td><input type="text" value= ' + value.Per_PhoneNo + ' id="txtPer_PhoneNo"/></td><td><input type="text" value= ' + value.DOJ + ' id="txtDOJ"/></td><td><input type="text" value= ' + value.DateOfContract + ' id="txtDateOfContract"/></td><td><input type="text" value= ' + value.ServiceTaxNo + ' id="txtServiceTaxNo"/></td><td><input type="text" onChange="checkEmail();"  value= ' + value.Email + ' id="txtEmail"/></td></tr>');


                  
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }



    function FillVendorAddresstbl(VendorId) {
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/ViewGetVendorAddresses/" + VendorId,
            success: function (data) {
                $.each(data, function (idx, value) {
                    if (value.AddressType == "Permanent Addres") {
                        $('#tblAdressDetail').append('<tr><td>' + value.AddressType + '</td><td><span id="spancityp">' + value.CityName + '</span></td><td>' + value.AreaId + '</td><td>' + value.House_ShopNo + '</td><td>' + value.StreetName + '</td> <td>' + value.LandMark + '</td><td>' + value.Longitude + '</td> <td>' + value.Lattitude + '</td></tr>');
                        $('#EdittblAdressDetail').append('<tr><td><input type="text" value= ' + value.AddressType + ' id="txtAddressType"/></td><td><input type="text" readonly="true" value= ' + value.CityName + ' id="txtCityName"/></td> <td><input type="text" value= ' + value.AreaId + ' id="txtAreaId"/></td>     <td><input type="text" value= ' + value.House_ShopNo + ' id="txtHouseNo"/></td> <td><input type="text" value= ' + value.StreetName + ' id="txtStreetName"/></td><td> <input type="text" value= ' + value.LandMark + ' id="txtLandMark"/></td>  <td><input type="text" value= ' + value.Longitude + ' id="txtLongitude"/></td>   <td><input type="text" value= ' + value.Lattitude + ' id="txtLattitude"/></td></td></tr>');
                    }
                    if (value.AddressType == "Current Addres") {
                        $('#tblAdressDetailCurrent').append('<tr><td>' + value.AddressType + '</td><td><span id="spancityc">' + value.CityName + '</span></td><td>' + value.AreaId + '</td><td>' + value.House_ShopNo + '</td><td>' + value.StreetName + '</td> <td>' + value.LandMark + '</td><td>' + value.Longitude + '</td> <td>' + value.Lattitude + '</td></tr>');
                        $('#EdittblAdressDetailCurrent').append('<tr><td><input type="text" value= ' + value.AddressType + ' id="txtAddressTypeCurrent"/></td><td><input type="text" readonly="true"   value= ' + value.CityName + ' id="txtCityNameCurrent"/></td> <td><input type="text" value= ' + value.AreaId + ' id="txtAreaIdCurrent"/></td>     <td><input type="text" value= ' + value.House_ShopNo + ' id="txtHouseNoCurrent"/></td> <td><input type="text" value= ' + value.StreetName + ' id="txtStreetNameCurrent"/></td><td> <input type="text" value= ' + value.LandMark + ' id="txtLandMarkCurrent"/></td>  <td><input type="text" value= ' + value.Longitude + ' id="txtLongitudeCurrent"/></td>   <td><input type="text" value= ' + value.Lattitude + ' id="txtLattitudeCurrent"/></td></td></tr>');
                    }
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }
    function bind_drp_City() {
        $('#ddlCityp').html('');
        $('#ddlCityp').append('<option value="0">' + citynamep + '</option>');
        $('#ddlCityc').html('');
        $('#ddlCityc').append('<option value="0">' + citynamec + '</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/StateCity/GetCities",
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlCityp').append('<option value=' + value.Id + '>' + value.CityName + '</option>');
                    $('#ddlCityc').append('<option value=' + value.Id + '>' + value.CityName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }
</script>
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

            <div class="col-lg-12">
                <div class="form-group col-md-4">
                    <label for="ddlBranch ">Branch</label>
                    <select name="ddlBranch" class="form-control form-control-lg" id="ddlBranch"></select>
                </div>
                <div class="form-group col-md-4">
                    <label for="ddlVendor">Vendor</label>
                    <select name="ddlVendor" class="form-control form-control-lg"  id="ddlVendor"></select>
                </div>
                <input type="hidden" id="hdnId" value="" />
            </div>
            <div class="col-lg-12">
                <h4 class="page-header">
                    Vendor Details
                </h4>
                <!-- Large modal -->
                <button type="button" id="btnFirst" class="btn btn-primary">Edit</button>   <button type="button" id="btnActive" onclick="InActiveVendor()"  class="btn btn-primary">InActive</button>
                <p></p>
                <table class="table" id="VendorDetail">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">                         
                            <th>VendorName</th>
                            <th>Password</th>
                            <th>PhoneNo</th>
                            <th>Per_PhoneNo</th>
                            <th>DOJ</th>
                            <th>DateOfContract</th>
                            <th>ServiceTaxNo</th>
                            <th>EmailId</th>
                        </tr>
                    </thead>
                    <tbody id="tblVendorDetail"></tbody>
                </table>
                <table id="tblshow" class="table">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">             
                            <th>VendorName</th>
                            <th>Password</th>
                            <th>PhoneNo</th>
                            <th>Per_PhoneNo</th>
                            <th>DOJ</th>
                            <th>DateOfContract</th>
                            <th>ServiceTaxNo</th>
                            <th>EmailId</th>
                        </tr>                
                    </thead>
                  </table>

                <p></p>
                <button type="button" id="btnupdateFirst" onclick="updateVendor()" class="btn btn-primary">Update </button>
            </div>
            <div class="col-lg-12">
                <h4 class="page-header">
                    Address Details
                </h4>
                <p>
                
                </p>
                <button type="button" id="btnSecond" class="btn btn-primary">Edit</button>
                <p>
                </p>
                <table class="table" id="AddressDetailP">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>AddressType</th>
                            <th>CityName</th>
                            <th>AreaId</th>
                            <th>HouseShopNo</th>
                            <th>StreetName</th>
                            <th>LandMark</th>
                            <th>Longitude</th>
                            <th>Lattitude</th>
                        </tr>
                    </thead>
                    <tbody id="tblAdressDetail"></tbody>
                </table>
                <p></p>
                <table class="table" id="Addp">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>AddressType</th>
                            <th>CityName</th>
                            <th>AreaId</th>
                            <th>HouseShopNo</th>
                            <th>StreetName</th>
                            <th>LandMark</th>
                            <th>Longitude</th>
                            <th>Lattitude</th>
                        </tr>
                    </thead>
                    <tbody id="EdittblAdressDetail"></tbody>
                </table>
                <p></p>

                <div class="row">
                    <div class="col-md-6">
                        <span style="float:right"><button type="button" id="btnupdateSecondone" onclick="updatePermanentAddress()" class="btn btn-primary">Update </button></span>
                    </div>
                    <div class="col-md-6">
                        <select name="ddlCityp" class="form-control form-control-lg" id="ddlCityp"></select>
                    </div>
                </div>
                <p>
                </p>
                <table class="table" id="AddressDetailC">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>AddressType</th>
                            <th>CityName</th>
                            <th>AreaId</th>
                            <th>HouseShopNo</th>
                            <th>StreetName</th>
                            <th>LandMark</th>
                            <th>Longitude</th>
                            <th>Lattitude</th>
                        </tr>
                    </thead>
                    <tbody id="tblAdressDetailCurrent"></tbody>
                </table>
                <p></p>
                <table class="table">
                    <thead class="thead-inverse" id="Addc">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>AddressType</th>
                            <th>CityName</th>
                            <th>AreaId</th>
                            <th>HouseShopNo</th>
                            <th>StreetName</th>
                            <th>LandMark</th>
                            <th>Longitude</th>
                            <th>Lattitude</th>
                        </tr>
                    </thead>
                    <tbody id="EdittblAdressDetailCurrent"></tbody>
                </table>
                <p></p>
                <div class="row">
                    <div class="col-md-6">
                        <span style="float:right"><button type="button" id="btnupdateSecond" onclick="updateCurrentAddress()" class="btn btn-primary">Update </button></span>
                    </div>
                    <div class="col-md-6">
                        <select name="ddlCityc" class="form-control form-control-lg" id="ddlCityc"></select>
                    </div>
                </div>
            </div>
       
            <div class="col-lg-12">
                <h4 class="page-header">
                    Bank Details
                </h4>
                <p>
                </p>
                <button type="button" id="btnFourth" class="btn btn-primary">Edit</button>
                <p>
                </p>
                <table class="table" id="BankDetail">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>BankAccountNumber</th>
                            <th>IFSC</th>
                            <th>BranchName</th>
                            <th>BranchName</th>
                            <th>MICR</th>
                            <th>AccountType</th>
                        </tr>
                    </thead>
                    <tbody id="tblBankDetail"></tbody>
                </table>
                <table id="tblshowBankDetail">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>BankAccountNumber</th>
                            <th>IFSC</th>
                            <th>BranchName</th>
                            <th>BranchName</th>
                            <th>MICR</th>
                            <th>AccountType</th>
                        </tr>
                    </thead>
                </table>
                <p></p>
                <button type="button" id="btnupdateFourth" onclick='updateBank()' class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>


