﻿@model EasyGhaat.Models.RoleType
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Edit Role
                </h1>
                <form method="post" action="@Url.Action("Edit","ManageRole")">

                    <div class="col-md-6">
                        <label>Role Name</label>
                        <input type="text" name="Role" id="Role" value="@Model.RoleName" required="" class="form-control" />
            
                        <br />
                        <input type="submit" value="Save" class="btn btn-primary"/>
                        <input type="hidden" id="hdnId" value="@Model.Id" name="hdnId" />
                    </div>
                  

                </form>
            </div>
        </div>
    </div>
</div>




