﻿@model IEnumerable<EasyGhaat.Models.tblImage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    View Media
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-fw fa-arrows-v"></i> View Media
                    </li>
                </ol>
            </div>
            <form method="post" action="Add">

                <div>
                    
                                                              
                            @foreach (var media in Model)
                            {
                                <div class="col-sm-1">
                                    <img src="@Url.Content(media.Photo)" alt="" class="img-responsive img-thumbnail">
                                    @Html.ActionLink("Add", "Add", "ViewMedia", new { id = media.id }, null)
                                      </div>
                            }
                </div>

            </form>

        </div>
    </div>
</div>
