﻿@model EasyGhaat.Models.Offer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Edit
                </h1>
                <form method="post" action="@Url.Action("Edit","UpdateOffer")">

                    <div class="col-md-6">
                        <label>Offer Title</label>
                        <input type="text" name="OfferTitle" id="title" value="@Model.OfferTitle" class="form-control" />
                        <label>Offer Price</label>
                        <input type="text" name="OfferPrice" id="Subtitle" value="@Model.OfferPrice" class="form-control" />
                        <label>Offer Content</label>
                        <textarea name="OfferContent" rows="8" cols="8" id="aboutContent" value="@Model.OfferContent" class="form-control">
                            @Model.OfferContent

                        </textarea>
                    <br />
                        <input type="submit" value="Submit" class="btn btn-primary"  />

                        @*@Html.HiddenFor(model => model.id)*@

                        <input type="hidden" id="hdnId" value="@Model.Id" name="hdnId" />
                    </div>
                    



                </form>
            </div>
        </div>
    </div>
</div>



<br />
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
