﻿@model IEnumerable<EasyGhaat.Models.Offer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}

<div class="page-wrapper">


    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Edit Offer
                </h1>
                <div>
                    <table class="table-bordered" style="table-layout">
                        <thead>
                            <tr>
                                <th><center>Offer_Title</center></th>
                                <th><center>Offer_Price</center></th>
                                <th><center>Offer_Content</center></th>                              
                                <th><center>Created_Date</center></th>                             
                                <th><center>Offer_Image</center></th>
                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.OfferTitle</td>
                                    <td>@item.OfferPrice</td>
                                    <td>@item.OfferContent</td>
                                    <td>@item.CreatedDate.Value.ToShortDateString()</td>                                 
                                    <td style="width:200px; height:200px"><img src="@Url.Content(item.OfferImage)" alt="" class="img-responsive"></td>
                                    <td>@Html.ActionLink("Edit", "Edit", "UpdateOffer", new { id = @item.Id }, null)</td>                                    
                                    <td>
                                        @Html.ActionLink("Delete", "Delete", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the tag " + @item.OfferTitle + "?')" })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>
</div>