﻿@model EasyGhaat.Models.wlcm_srvic_stripe
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Edit Welcome Service
                </h3>
                <form method="post" enctype="multipart/form-data" action="@Url.Action("Edit","AddWelcomeService")">
                    <div class="col-md-6">
                        <label>Box Content</label>
                        <textarea name="BoxContent" id="BoxContent"  value="@Model.box_content"  rows="8" cols="8" class="form-control">
                            @Model.box_content
                        </textarea>
                        <br />
                        <label>Read More Link</label>
                        <textarea name="ReadMoreContent" value="@Model.redmore_link" rows="8" cols="8" id="ReadMoreContent" class="form-control">
                            @Model.redmore_link
                        </textarea>
                        <br />
                    
                        <input type="submit" class="btn btn-primary" value="Submit" />
                        <input type="hidden" id="hdnId" value="@Model.id" name="hdnId" />
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

