﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        alert("SuccessFully Added ");
    </script>
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h4 class="page-header">
                Add Employee RejactionReason
            </h4>
            <form method="post" action="@Url.Action("Add","EmployeeRejactionReason")">
                <div class="col-md-8">
                    <br />
                    <label>Reason</label>
                    <input type="text" maxlength="250" name="Reason" id="Reason" class="form-control" required="" />
                    <br />

                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewEmployeeRejactionReason")"> View RejactionReasons </a>
</div>
            </form>
        </div>
    </div>
</div>

