﻿@model IEnumerable<EasyGhaat.Models.ManageReferral>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">


        @if (Model != null)
        {
            <div class="row">

                <div class="col-lg-12">
                    <h4 class="page-header">
                        View Referrals
                    </h4>
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">

                                <th><center>Branch Name</center></th>
                                <th><center>Amount</center></th>
                                <th><center>Total VlaidityDays</center></th>
                                <th width="50px">Edit</th>



                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Branch.Name</td>
                                    <td>@item.ReferralAmount</td>
                                    <td>@item.ValidityDays</td>
                                    <td>@Html.ActionLink("Edit", "Index", "UpdateReferral", new { id = @item.Id }, null)</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }



    </div>
</div>

