﻿@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFully Added ");
    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Add Referral
                </h4>

                <form method="post"  action="@Url.Action("Add","ManageReferral")">
                    <div class="col-md-6">
                        <label> Branch</label>
                        <select required name="ddlBranch" class="form-control" id="ddlBranch">
                            <option value="">Select Branch</option>
                            @foreach (EasyGhaat.Models.Branch Branch in Model.Branch)
                            {
                                <option value="@Branch.Id">@Branch.Name</option>
                            }
                        </select>
                        <label>Referral Amount</label>
                        <input type="number" name="ReferralAmount"  min="1" max="50"  id="ReferralAmount" class="form-control" required=""  />
                        <br />           
                        <label>Validity Days</label>
                        <input type="number"   name="Validity" id="Validity"  min="1" max="50"  class="form-control" required="" />
                        <br />
                        <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewReferrals")">View Referrals</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


