﻿@model IEnumerable<EasyGhaat.Models.home_slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">


    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Update Slider
                </h1>


                <div>
                    <table class="table-bordered" style="table-layout">
                        <thead>
                            <tr>
                                <th><center>ID</center></th>
                                <th><center>Image</center></th>
                                <th><center>Content I</center></th>
                                <th><center>Content II</center></th>
                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var slider in Model)
                            {
                                <tr>
                                    <td>@slider.slider_id</td>
                                    <td style="width:50px; height:50px"><img src="@Url.Content(slider.image_path)" alt="" class="img-responsive"></td>
                                    <td>@slider.content_1</td>
                                    <td>@slider.content_2</td>
                                    <td>@Html.ActionLink("Edit","Edit","UpdateSlider",new { id=@slider.slider_id},null)</td>
                                    <td>@Html.ActionLink("Delete","Delete","UpdateSlider",new { id=@slider.slider_id},null)</td>
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>
          
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  </div>
            </div>
        </div>
    </div>

