﻿@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

        alert("SuccessFully Added ");

    </script>

}

@if (TempData["ChkMessage"] != null)
{
    <script type="text/javascript">

        alert("Atleast one Service box must be checked");

    </script>

}




<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">

    $(document).ready(function () {


        //called when key is pressed in textbox
        $("#MaxUsers").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        //called when key is pressed in textbox
        $("#MinOrder").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        //called when key is pressed in textbox
        $("#FlatAmount").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        //called when key is pressed in textbox
        $("#Percentage").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        //called when key is pressed in textbox
        $("#MaxDiscount").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });


        $("#flatamount").hide();
        $("#percentage").hide();
        $('#maxdiscount').hide();
        $('#AppliedServices').hide();


        $('#ddlAppliedOn').change(function () {

            var PromoType = $('#ddlPromoType').val();

            if (PromoType == "2") {
                CheckFlatAmount();
            }
            if (PromoType == "1") {
                CheckMaxDiscount();
            }

        });


        $('#ddlPromoType').change(function () {

            var id = $(this).val();
            if (id == 2) {
                $("#flatamount").show();
                $("#percentage").hide();
                $('#maxdiscount').hide();
            }
            else if (id == 1) {
                $("#percentage").show();
                $("#flatamount").hide();
                $('#maxdiscount').show();
            }

            else if (id == 0) {

                $("#flatamount").hide();
                $("#percentage").hide();
                $('#maxdiscount').hide();
            }
        });

        $('#ddlAppliedOn').change(function () {
            var Id = $(this).val();
            if (Id == 1) {
                $('#AppliedServices').show();

            }
            else {

                $('#AppliedServices').hide();
            }
        });
    });



    function CheckPromoCode() {
        var dataObject =
        {
            Promo_Code: $("#txtPromoCode").val()
        };
        $.ajax({
            type: "GET",
            url: "@Url.Action("CheckPromoCode", "AddPromoCode")",
            data: dataObject,
            dataType: "json",
            success: function (data) {

                if (data == true) {
                    alert('Promo Code already exists!');
                    $("#txtPromoCode").val('');
                    $("#txtPromoCode").focus();
                }
            }
        });
    }


    function CheckPercentageLimit() {
        var Percentage = $('#Percentage').val();
        if (Percentage > 100) {
            alert('Percentage can not be greater then 100!');
            $("#Percentage").val('');
            $("#Percentage").focus();
        }
    }



    function CheckPercentage() {
        var Percentage = $('#Percentage').val();
        if (Percentage == "") {
            alert('Percentage can not be null!');
            $("#Percentage").focus();
        }
        else if(Percentage >100)
        {
            alert('Percentage can not be greater than 100!');
            $("#Percentage").focus();

        }
    }


    function CheckMaxDiscount() {

        var Discount = $('#MaxDiscount').val();
        if (Discount == "") {
            alert('MaxDiscount can not be null!');
            $("#MaxDiscount").focus();
        }
    }


    function CheckFlatAmount() {

        var Discount = $('#FlatAmount').val();
        if (Discount == "") {
            alert('FlatAmount can not be null!');
            $("#FlatAmount").focus();
        }
    }


</script>


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Add PromoCode
                </h4>
                <form method="post" action="@Url.Action("Add","AddPromoCode")">
                    <div class="col-md-6">
                        <label>PromoCode</label>
                        <input type="text" name="txtPromoCode" id="txtPromoCode" maxlength="20" onfocusout="CheckPromoCode();" class="form-control" required="" />
                        <label>MaxUsers</label>
                        <input type="text" maxlength="4" name="MaxUsers" id="MaxUsers" class="form-control" required="" />
                        <br />
                        <label>Expiry Date</label>
                        <input type="date" name="ExpiryDate" id="ExpiryDate" class="form-control " required="" />
                        <br />
                        <label>Min Order</label>
                        <input type="text" name="MinOrder" id="MinOrder" maxlength="3" class="form-control" required="" />
                        <br />
                        <label>Promo Type</label>           
                        <select required name="ddlPromoType" class="form-control" id="ddlPromoType">
                            <option value="">Select PromoType </option>
                            @foreach (EasyGhaat.Models.Promo_Type Promo_Type in Model.Promo_Type)
                            {
                                <option value="@Promo_Type.Id">@Promo_Type.P_type</option>
                            }
                        </select>
                        <br />
                        <div id="flatamount">
                            <label>Flat Amount</label>
                            <input type="text" maxlength="4" name="FlatAmount" id="FlatAmount" class="form-control" />
                        </div>

                        <div id="percentage">
                            <label>Percentage %</label>
                            <input type="text" maxlength="3" name="Percentage" id="Percentage" onfocusout="CheckPercentageLimit();" class="form-control" />
                        </div>

                        <div id="maxdiscount">
                            <label>Max Discount</label>
                            <input type="text" name="MaxDiscount" id="MaxDiscount" onfocus="CheckPercentage();" maxlength="4" class="form-control" />
                        </div>

                        <label> Applied On </label>
                        <select required name="ddlAppliedOn" class="form-control" id="ddlAppliedOn">
                            <option value="">Select Type </option>
                            @foreach (EasyGhaat.Models.Applying_pro Applying_pro in Model.Applying_pros)
                            {
                                <option value="@Applying_pro.Id">@Applying_pro.Apply_type</option>
                            }
                        </select>
                        <div id="AppliedServices">
                            <br />
                            <label>Select Services </label>
                            <br />
                            <input type="checkbox" name="chkWash&Iron" value="1" id="chk1" />
                            Wash & Iron
                            <br />
                            <input type="checkbox" name="chkSteamIron" value="2" id="chk2" />
                            Steam Iron
                            <br />
                            <input type="checkbox" name="chkPremiumWash" value="3" id="chk3" />
                            Premium Wash
                            <br />
                            <input type="checkbox" name="chkDryClean" value="4" id="chk4" />
                            Dry Clean
                            <br />
                            <input type="checkbox" name="chkOnlyIron" value="5" id="chk5" />
                            Only Iron
                            <br />
                        </div>
                        <br />
                        <input type="submit" id="btnsubmit"  class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewPromoCodes")">View PromoCode</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

