﻿@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

        alert("SuccessFully Added");

    </script>

}


@if (TempData["Message-1"] != null)
{
    <script type="text/javascript">

        alert("Already Added For Today ");

    </script>

}

@if (TempData["Message-3"] != null)
{
    <script type="text/javascript">

        alert("Already timeslot added between this time ");

    </script>

}



@if (TempData["Message-2"] != null)
{
    <script type="text/javascript">

        alert("Limit has been completed to add time slots in this branch");

    </script>

}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Add TimeSlots
                </h4>
                <form method="post" action="@Url.Action("Add","AddTimeSlot")">
                    <div class="col-md-6">
                        <label>Branch </label>
                        <select required name="ddlBranch" class="form-control"  id="ddlBranch">
                            <option value="">Select Branch</option>
                            @foreach (EasyGhaat.Models.Branch Branch in Model.Branch)
                            {
                                <option value="@Branch.Id">@Branch.Name</option>
                            }
                        </select>
                        <br />
                        <label>From Time</label>
                   
                        <select   class="form-control" name="ddlFromTime" required >
                            <option value="">
                           select Time
                            </option>                     
                            <option>05:00</option>
                            <option>06:00</option>
                            <option>07:00</option>
                            <option>08:00</option>
                            <option>09:00</option>
                            <option>10:00</option>
                            <option>11:00</option>
                            <option>12:00</option>
                            <option>13:00</option>
                            <option>14:00</option>
                            <option>15:00</option>
                            <option>16:00</option>
                            <option>17:00</option>
                            <option>18:00</option>
                            <option>19:00</option>
                            <option>20:00</option>
                            <option>21:00</option>
                            <option>22:00</option>
                            <option>23:00</option>
                        </select>
                        <label>Time To</label>

                        <select required class="form-control"  name="ddlToTime"  >
                            <option value="">
                                select Time
                            </option>
                            <option>05:00</option>
                            <option>06:00</option>
                            <option>07:00</option>
                            <option>08:00</option>
                            <option>09:00</option>
                            <option>10:00</option>
                            <option>11:00</option>
                            <option>12:00</option>
                            <option>13:00</option>
                            <option>14:00</option>
                            <option>15:00</option>
                            <option>16:00</option>
                            <option>17:00</option>
                            <option>18:00</option>
                            <option>19:00</option>
                            <option>20:00</option>
                            <option>21:00</option>
                            <option>22:00</option>
                            <option>23:00</option>
                        </select>
                        <br />
                        <label>Task Limit</label>
                        <input type="number" min="1" max="100" name="TaskLimit" id="TaskLimit" class="form-control" required="" />
                        <br />
                        <br />
                        <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewTimeSlot")">View TimeSlots</a>
                    </div>
                </form>

  
          
            </div>
        </div>
    </div>
</div>




