﻿@model EasyGhaat.Models.VendorPrice_tbl

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}




<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h4 class="page-header">
               Edit Price
            </h4>
            <form method="post" action="@Url.Action("Edit","ViewVendorPriceList")">
                <div class="col-md-8">
                    <label>Category </label>
                    <input type="text" name="txtCategory" id="txtCategory" class="form-control" readonly="" value="@Model.PriceTable.Product.Category.Name" />
                    <br />
                    <label>Gender </label>
                    <input type="text" name="txtGender" id="txtGender" class="form-control" readonly="" value="@Model.PriceTable.Product.Gender.Name" />
                    <br />
                    <label>Product </label>
                    <input type="text" name="txtProduct" id="txtProduct" class="form-control" readonly="" value="@Model.PriceTable.Product.Name"/>
                    <br />
                    <label>Unit</label>
                    <input type="text" name="txtUnit" id="txtUnit" class="form-control" readonly="" value="@Model.PriceTable.Unit_Type.U_Type" />
                    <br />

                    <label>Price</label>
                    <input type="number"  min="1" max="100" name="txtPrice" id="txtPrice" class="form-control" required="" value="@Model.Price"/>
                    <br />
                    <input type="hidden" id="hdnId" name="hdnId" value="@Model.Id" />

                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewVendorPriceList")">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>


