﻿

@model dynamic
    



  </section>


<form action="submit" method="post">
    <div class="row">
        <div class="thumb-box2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-3">
                        <h3 style="color: #ffffff;text-transform: uppercase;margin: 0 0 2px 0; font-size: 25px " open sans", sans-serif;">Sign up below to get news &amp; deals!</h3>
                        <p class="title">Subscribe to our mailing list</p>
                        <form id="newsletter" accept-charset="utf-8">
                            <div class="success" style="display: none;">Your subscribe request has been sent!</div>
                            <label class="name invalid">

                                <input type="text" value="Your Name" name="name" id="name" class="form-control">
                                <!--<span class="error">*This is not a valid name.</span>-->
                            </label>
                            <label class="email invalid">
                                <input type="email" value="Your E-Mail" name="email" id="email" class="form-control">
                                <!-- <span class="error">*This is not a valid email address.</span>-->
                            </label>
                            <input type="submit" name="submit" id="submit" class="btn-default btn2" />
                            @*<a href="#" data-type="submit" class="btn-default btn2">submit</a>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</form>
        <!--insert signup button -->
        <!-- end signup button -->
        <div class="thumb-box3">
            <div class="container">
                <p class="title">Environmentally Conscious Cleaning</p>
                <p class="description">Going the extra mile for safe and environmentally conscious fabric care, our professionals conscientiously apply cleaning products. Protecting our environment is most important in every decision we make.</p>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="thumb-pad5">
                            <div class="thumbnail">
                                <figure><img src="~/Content/images/icon/page1_icon1.png" class="img-responsive" alt=""></figure>
                                <div class="caption">
                                    <p class="title">Our service</p>
                                    <p align="justify">We collect, We Clean and We Deliver, We are  Commitment to our Clients, Flexibility, Excellence, Respect and Honesty..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="thumb-pad5">
                            <div class="thumbnail">
                                <figure><img src="~/Content/images/icon/page1_icon2.png" class="img-responsive" alt=""></figure>
                                <div class="caption">
                                    <p class="title">Mission and Vision</p>
                                    <p align="justify">Our purpose is to deliver a laundry service of exceptional quality that offers every business and private customer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="thumb-pad5">
                            <div class="thumbnail">
                                <figure><img src="~/Content/images/icon/page1_icon3.png" class="img-responsive" alt=""></figure>
                                <div class="caption">
                                    <p class="title">Our Motto</p>
                                    <p align="justify">We offers every business and private customer, choice and flexibility through sustainable processes, a skilled workforce, attention to detail and excellent customer care.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="title">Have Any Question Or Want a Free Estimate</p>
                    <p class="title">Call Now : +(01)800 527 4800</p>
                </div>
            </div>
       
    
    
 