﻿@model EasyGhaat.Models.Welocme_area

<html lang="en">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EasyGhaat</title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <!-- Owl Carousel -->
    <!--<link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/owl.theme.css"/>-->
    <!-- Pretty Photo -->
    <!--<link rel="stylesheet" href="css/prettyPhoto.css"/>-->
    <!-- Main color style -->
    <link rel="stylesheet" href="~/Content/css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="~/Content/css/custom.css" />
    <link rel="stylesheet" href="~/Content/css/scrolling-nav.css" />
    <!-- Responsive -->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-social.css" />


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <section id="service">

        <!-- download button strart-->
        <!-- End download button-->


        <div class="container">
            <!-- Welcome -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">WELCOME TO EASYGHAAT </h2>
                        <p class="subtitle">We Collect, We Clean, We Deliver</p>

                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
            <div class="row">
                <div class="main_feature text-center">
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <div class="feature_content">
                            <p align="justify"> @Model.welcome_content</p>
                        </div>
                    </div>
                    <!-- Col-md-4 Single_feature End -->
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <div class="feature_content">
                            <p align="justify">@Model.welcome_content1</p>
                        </div>
                    </div> <!-- Col-md-4 Single_feature End -->
                </div>
            </div>  <!-- Row End -->
            <div class="row">
                <div class="main_feature text-center">
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <div class="feature_content">
                            <img src="~/Content/images/home1.jpg" class="img-responsive">
                        </div>
                    </div>
                    <!-- Col-md-4 Single_feature End -->
                    <div class="col-md-6 col-xs-12 col-md-6">
                        <div class="col-md-6 col-xs-12 col-md-6" style="text-align: center;padding: 28px 25px 20px;border: 1px solid #e0e0e0;">
                           <img src="@Url.Content(Model.image_path1)" alt="N/A"/>
                            <h5>Services </h5>
                            <p> Wash,Dryclean,Iron </p>
                            <p> We will pick, service & deliver </p>

                        </div>
                        <div class="col-md-6 col-xs-12 col-md-6" style="text-align: center;padding: 28px 25px 20px;border: 1px solid #e0e0e0;">
                            <img src="@Url.Content(Model.image_path2)" alt="N/A" />
                            <h5>Online consultation</h5>
                            <p>Order online  </p>
                            <p> service at one click </p>
                        </div>
                        <div class="col-md-6 col-xs-12 col-md-6" style="text-align: center;padding: 28px 25px 20px;border: 1px solid #e0e0e0;">
                            <img src="@Url.Content(Model.image_path3)" alt="N/A" />
                            <h5>Offer</h5>
                            <p>Choose best offers </p>
                            <p>Specialy catered for your needs</p>
                        </div>
                        <div class="col-md-6 col-xs-12 col-md-6" style="text-align: center;padding: 28px 25px 20px;border: 1px solid #e0e0e0;">
                            <img src="@Url.Content(Model.image_path4)" alt="N/A" />
                            <h5>Package</h5>
                            <p>Choose Monthly Packages </p>
                            <p>For all your Monthly needs </p>

                        </div>

                    </div> <!-- Col-md-4 Single_feature End -->
                </div>
            </div>  <!-- Row End -->
        </div>  <!-- Container End -->
    </section>
    <!-- Service Area End -->
    <!-- Testimonials details start -->
    <!-- Javascript Files
        ================================================== -->
    <!-- initialize jQuery Library -->
    <!-- initialize jQuery Library -->
    <!-- Main jquery -->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Isotope -->
    <script src="~/Content/js/jquery.isotope.js"></script>
    <!-- Pretty Photo -->
    <script type="text/javascript" src="~/Content/js/jquery.prettyPhoto.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="~/Content/js/smooth-scroll.js"></script>
    <!-- Image Fancybox -->
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Counter  -->
    <script type="text/javascript" src="~/Content/js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <!--<script type="text/javascript" src="js/waypoints.min.js"></script>-->
    <!-- Bx slider -->
    <script type="text/javascript" src="~/Content/js/jquery.bxslider.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="~/Content/js/jquery.scrollTo.js"></script>
    <!-- Easing js -->
    <script type="text/javascript" src="~/Content/js/jquery.easing.1.3.js"></script>
    <!-- PrettyPhoto -->
    <!--<script src="js/jquery.singlePageNav.js"></script>-->
    <!-- Wow Animation -->
    <!--<script type="js/javascript" src="js/wow.min.js"></script>-->
    <!-- Google Map  Source -->
    <!-- Custom js -->
    <script src="~/Content/js/custom.js"></script>

    <script src="~/Content/js/scrolling-nav.js"></script>
    <script src="~/Content/js/jquery.easing.min.js"></script>

</body>
</html>