﻿@model    IEnumerable<EasyGhaat.Models.Mail_collection>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    View Mail Collections
                </h3>
                @if (Model != null)
                {
                            <table class="table-bordered">
                                <thead>
                                    <tr style="background-color:#2e6da4;color:white;">

                                        <th width="200px"><center>Name</center></th>
                                        <th width="200px"><center>Email_Address</center></th>
                                      
                                        <th width="200px">Delete</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td hidden="hidden">@item.id</td>
                                            <td>@item.name</td>
                                            <td>@item.email</td>
                                            <td>@Html.ActionLink("Delete", "Delete", "AddSignUp", new { id = @item.id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.id + "?')" })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>



                }

                else

                {
                    <centre>
                        <div> <p align="justify" style="color:red">   There is No SignUp Mails    </p></div>
                    </centre>


                }









            </div>
        </div>
    </div>
</div>
