﻿

@model dynamic

<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs
      ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EasyGhaat</title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    \

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <!-- Owl Carousel -->
    <!--<link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/owl.theme.css"/>-->
    <!-- Pretty Photo -->
    <!--<link rel="stylesheet" href="css/prettyPhoto.css"/>-->
    <!-- Main color style -->
    <link rel="stylesheet" href="~/Content/css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="~/Content/css/custom.css" />
    <link rel="stylesheet" href="~/Content/css/scrolling-nav.css" />
    <!-- Responsive -->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-social.css" />
    <script src="http://code.jquery.com/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#dvPassport").show();
        $("#chkPassport").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport").hide();
            } else {
                $("#dvPassport").show();
            }
        });
    });
    </script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- instant order -->


        <div class="row fixed abcfixed">


            <!-- Button trigger modal -->

            <p data-toggle="modal" data-target=".bs-example-modal-lg" class="abcp">
                <span style="color: #FFF;font-size: large;">Instant Order</span>
            </p>

            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="../images/logo.png" />
                                </div>

                                <div class="col-md-4">
                                    <p align="center"><span class="modal-title instantorder " id="myModalLabel">Instant Order</span></p>
                                </div>
                                <div class="col-md-4"></div>
                            </div>



                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5" style="margin-left:20px;">
                                    <p align="center">Please enter your details below to login</p>
                                    <ul class="breadcrumbs breadcrumbsleft">
                                        <li><a href="index.html">Login Details</a></li>
                                        <li><a href="address.html" class="current">Address Details</a></li>
                                        <!--<li><a href="service.html" >Service Details</a></li>
                                        <li><a href="review.html">Review & Coupan</a></li>-->
                                    </ul>
                                    <div class="tab-content">
                                        <!--=========end login details===============-========-->
                                        <div id="logindet" class="tab-pane fade in active">

                                            <form method="post" action="@Url.Action("Address1","instantAddress")">
                                                <div class="form-group">

                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="txtname" placeholder="Name" name="txtname" value="@ViewData["txtname"]">

                                                    </div>
                                                    <div class="form-group">

                                                        <select name="ddlCity" class="form-control" id="ddlCity">
                                                            <option>Select Address Type </option>
                                                            <option>@ViewData["ddlCity"] </option>
                                                            <option>Home</option>
                                                            <option>Office</option>
                                                            <option>Other</option>


                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="txtHouseNo" placeholder="House No" name="txtHouseNo" value="@ViewData["txtHouseNo"]">

                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="txtStreetName" placeholder="Street Name" name="txtStreetName" value="@ViewData["txtStreetName"]">

                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="txtLandMark" placeholder="Land Mark" name="txtLandMark" value="@ViewData["txtLandMark"]">

                                                    </div>
                                                    <div class="form-group">

                                                        @*<select name="ddlCity" class="form-control" id="ddlCity">
                                                                <option>Select City</option>
                                                                @foreach (EasyGhaat.Models.City City in Model.City)
                                                                {
                                                                    <option value="@City.Id">@City.CityName</option>
                                                                }
                                                            </select>*@
                                                    </div>
                                                    <input type="text" class="form-control wi" id="exampleInputPassword3" placeholder="Area Name">


                                                    <div class="form-group"></div>
                                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                                        <div class="btn-group" role="group">
                                                            <!-- <button type="button" class="btn btn-default">Left</button>-->
                                                        </div>
                                                        <label for="chkPassport">
                                                            <input type="checkbox" id="chkPassport" />
                                                            Delivery Address -Same As Pick Up Address
                                                        </label>
                                                        <hr />

                                                        <div id="dvPassport" style="display: none">
                                                            <center>Delivery Address</center>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="txtHouseNo" placeholder="House No" name="txtHouseNo1">

                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="txtStreetName" placeholder="Street Name" name="txtStreetName1">

                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="txtLandMark" placeholder="Land Mark" name="txtLandMark1">

                                                            </div>
                                                        </div>

                                                        <center> <button type="submit" class="btn btn-primary " value="">Continue</button></center>
                                                        <p>&nbsp;</p>

                                                        <div class="btn-group" role="group">
                                                            <!-- <button type="button" class="btn btn-default">Right</button>-->
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <center><div class="vertical-line horisty" />
                                </div></center>
                            </div>
                            <div class="col-md-4">

                                <div><p class="topmargin"></p></div>
                                <center>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-primary btn-default btn-lg" value="">Use Zipper Map</button>
                                    </div>
                                </center>


                            </div>

                        </div>
                    </div>









                </div>

                <!--<div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>-->
            </div>
        </div>

















        </div>
        </div>




        <!-- end instand order -->
        <!-- /.container -->
    </nav>

    <!-- Javascript Files
               ================================================== -->
    <!-- initialize jQuery Library -->
    <!-- initialize jQuery Library -->
    <!-- Main jquery -->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Isotope -->
    <script src="~/Content/js/jquery.isotope.js"></script>
    <!-- Pretty Photo -->
    <script type="text/javascript" src="~/Content/js/jquery.prettyPhoto.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="~/Content/js/smooth-scroll.js"></script>
    <!-- Image Fancybox -->
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Counter  -->
    <script type="text/javascript" src="~/Content/js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <!--<script type="text/javascript" src="js/waypoints.min.js"></script>-->
    <!-- Bx slider -->
    <script type="text/javascript" src="~/Content/js/jquery.bxslider.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="~/Content/js/jquery.scrollTo.js"></script>
    <!-- Easing js -->
    <script type="text/javascript" src="~/Content/js/jquery.easing.1.3.js"></script>
    <!-- PrettyPhoto -->
    <!--<script src="js/jquery.singlePageNav.js"></script>-->
    <!-- Wow Animation -->
    <!--<script type="js/javascript" src="js/wow.min.js"></script>-->
    <!-- Google Map  Source -->
    <!-- Custom js -->
    <script src="~/Content/js/custom.js"></script>

    <script src="~/Content/js/scrolling-nav.js"></script>
    <script src="~/Content/js/jquery.easing.min.js"></script>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>






</body>
</html>
