﻿@model IEnumerable<EasyGhaat.Models.AssignService_Vendor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Assign Services To Vendor
                </h4>
            
                <span><strong>Vendor Name</strong></span>&nbsp;<span>@TempData["VendorName"]</span>  &nbsp; &nbsp; &nbsp;  &nbsp;<span><strong>Branch Name</strong></span>   &nbsp;<span>@TempData["BranchName"]</span>
               <br />
                 <form method="post" action="@Url.Action("Add","AssignServices")">
                    <div class="col-md-6">
                        <label>Services already Added </label>
                        <br />

       
                      @if(Model!=null)
                      {

                          foreach
                              (var item in Model)
                          {
                             
                              <input type="text" id="hdnChk" value="@item.Service.Name" class="form-control" readonly="" />

                          }


                      }

                      else

                      {

                        <label>No Service already Added</label>



                      }





                        <br />


                        <label>Select Services </label>
                        <br />

                        <input type="checkbox" name="chkWash&Iron" value="1" id="" />
                        Wash & Iron
                        <br />
                        <input type="checkbox" name="chkSteamIron" value="2" />
                        Steam Iron
                        <br />
                        <input type="checkbox" name="chkPremiumWash" value="3" />
                        Premium Wash
                        <br />
                        <input type="checkbox" name="chkDryClean" value="4" />
                        Dry Clean
                        <br />
                        <input type="checkbox" name="chkOnlyIron" value="5" />
                        Only Iron
 

                        <br />
                        <br />
                        <input type="submit" class="btn btn-primary" value="Add Service" />
                    </div>
                </form>
                                  
                <br />
                <br />
                <a href="@Url.Action("Index","UpdateVendor")">Go Back</a>
            </div>
        </div>
    </div>
</div>