﻿


@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}



@if (TempData["Message-1"] != null)
{
    <script type="text/javascript">

        Alert("Already added this combination");

    </script>
}




<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>


<script type="text/javascript">

    $(document).ready(function (){

        bind_drp_Branch();



            //called when key is pressed in textbox
        $("#Price").keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    //display error message
                    $("#errmsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            });



    });

    function bind_drp_Branch()
    {
        $('#ddlBranch').html('');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/GetBranchs",
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlBranch').append('<option value=' + value.BranchId + '>' + value.BranchName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }

    </script>


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
       <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Add PriceList
                </h4>
               <form method="post"  action="@Url.Action("Add", "AddPriceList")">
                   <div class="col-md-6">
                       <label>Branch </label>
                       <select required name="ddlBranch" class="form-control" id="ddlBranch">
                           <option value="">Select Branch</option>

                       </select>
                       <br />
                       <label>Product</label>
                       <select required name="ddlProduct" class="form-control" id="ddlProduct">
                           <option value="">Select Product</option>
                           @foreach (EasyGhaat.Models.Product Product in Model.Product)
                           {
                               <option value="@Product.Id">@Product.Name</option>
                           }
                       </select>
                       <br />
                       <label>Service</label>
                       <select required name="ddlService" class="form-control" id="ddlService">
                           <option value="">Select Service</option>
                           @foreach (EasyGhaat.Models.Service Service in Model.Service)
                           {
                               <option value="@Service.Id">@Service.Name</option>
                           }
                       </select>
                       <br />
        
                       <label>Price</label>
                       <input type="text"  maxlength="4"  name="Price" id="Price" class="form-control" required="" />
                       <br />
                       <br />
                       <label>Unit</label>
                       <select required name="ddlUnit" class="form-control" id="ddlUnit">
                           <option value="">Select Unit</option>
                           @foreach (EasyGhaat.Models.Unit_Type Unit_Type in Model.Unit_Type)
                           {
                               <option value="@Unit_Type.Id">@Unit_Type.U_Type</option>
                           }
                       </select>
                       <br />
                       <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index", "ViewPriceList")">View PriceList</a>
                   </div>
               </form>
            </div>
        </div>
    </div>
</div>



