﻿


@model IEnumerable<EasyGhaat.Models.Footer_content>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<html lang="en">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EasyGhaat</title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="../css/animate.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../css/owl.carousel.css" />
    <link rel="stylesheet" href="../css/owl.theme.css" />
    <!-- Pretty Photo -->
    <link rel="stylesheet" href="../css/prettyPhoto.css" />
    <!-- Main color style -->
    <link rel="stylesheet" href="../css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="../css/custom.css" />
    <link rel="stylesheet" href="../css/scrolling-nav.css" />
    <!-- Responsive -->
    <link rel="stylesheet" href="../css/responsive.css" />
    <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="../css/bootstrap-social.css" />


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


    <section id="service">

        <!-- download button strart-->
        <!-- End download button-->

        <div class="container">
            <!-- Welcome -->
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul class="nav nav-tabs nav-tabs-responsive" role="tablist" style="background: #dddddd;">
                            <li role="presentation" class="logwidth active">
                                <a href="@Url.Action("Index", "Login")" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true" style="padding: 10px;">
                                    <center><span class="text">LOGIN</span></center>
                                </a>
                            </li>
                            <li role="presentation" class="logwidth next">
                                <a href="#SignUp" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" style="padding: 10px;">
                                    <center><span class="text">SIGNUP</span></center>

                                </a>
                            </li>


                        </ul>

                    </div>
                </div>
                <!-- end tab -->

                <div class="col-md-4"></div>
            </div>

            <div class="row">

                <div class="col-md-4"></div>

                <div class="col-md-4">

                    <div class="panel with-nav-tabs panel-default" style="border:none;">



                        <div class="tab-content">


                            <!--======================================
                                            Login
                            ========================================-->
                            <div class="tab-pane fade in active" id="login">

                                <form role="form" name="login_frm" id="login_frm" method='get'>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="txt_email" id="txt_email" required placeholder="Email Id or Mobile no.">
                                    </div>
                                    <div class="input-group">
                                        <input type="password" class="form-control pwd" id="txt_pwd" required placeholder="Password">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default reveal" id="" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                        </span>
                                    </div>



                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">

                                        <div class="btn-group" role="group">
                                            <button type="submit" class="btn btn-primary" value="">Login</button>
                                        </div>

                                        <div class="btn-group" role="group">

                                            &nbsp;<input type="checkbox" id="brand1" value="">
                                            <label for="brand1">Remember Me</label>
                                        </div>

                                    </div>
                                    <div class="btn-group" role="group">
                                        <span><a href="@Url.Action("Index", "ForgetPassword")">Forget Password</a></span>
                                    </div>
                                    <div class="form-group" role="group">


                                        <label>&nbsp;</label>
                                        <!-- <button type="button" class="btn btn-default">Right</button>-->
                                        <p align="center">
                                            <center><hr class="hrstyle" /></center>
                                        </p>
                                    </div>

                                </form>

                                <label>&nbsp;</label>
                                <h4 style="text-align:center;">Login with social media</h4>
                                <p>&nbsp;</p>

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <a href="#" class="btn btn-block btn-social btn-facebook socbtnlogin" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
                                            <span class="fa fa-facebook" style="color: #ffffff;"></span> Sign in with Facebook
                                        </a>
                                    </div>


                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-block btn-social btn-google socbtnlogin" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-google']);">
                                            <span class="fa fa-google" style="color: #ffffff;"></span> Sign in with Google
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div> <!-- Col-md-12 End -->
        </div>
        <!-- Row End -->
        <!-- Row End -->
        </div>  <!-- Container End -->
    </section>



    <section id="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    @foreach (var Footer in Model)
                    {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title1</h3>

                            <img src="@Url.Content(Footer.content1)" alt="" class="img-responsive">

                        </div>
                    }
                    @foreach (var Footer in Model)
            {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title2</h3>
                            <div class="footer_menu">
                                <ul>

                                    @Html.Raw(Footer.content2)
                                </ul>
                            </div>
                        </div>
                    }



                    @foreach (var Footer in Model)
            {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title3</h3>
                            <div class="footer_menu">
                                <ul>

                                    @Html.Raw(Footer.content3)
                                </ul>
                            </div>
                        </div>
                    }




                    @foreach (var Footer in Model)
            {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title4</h3>

                            <img src="@Url.Content(Footer.content4)" alt="" class="img-responsive">

                        </div>
                    }




                </div>
                <label>&nbsp;</label>
                @foreach (var Footer in Model)
                {


                    <center>
                        <p style="color:#FFFFFF">

                            @Footer.copyright
                            Developed by: <a href="http://www.zeusadsolutions.com" alt="Software Company" title="Software Development and Web Development Company" target="_blank">ZeusAdSolutions</a>
                        </p>
                    </center>
                }
            </div>

        </div>

    </section>
    <!--footer end-->
    <div id="back-top">

        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>

</body>
</html>

<script src="~/Content/sweetalert-master/sweetalert.min.js"></script>
<link href="~/Content/sweetalert-master/sweetalert.css" rel="stylesheet" />
<script>

    $(function () {

        //here is code check user login from which application

        var device_detect = '';
        var isMobile = {
            Android: function () {
                return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function () {
                return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function () {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function () {
                return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function () {
                return navigator.userAgent.match(/IEMobile/i);
            },
            any: function () {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
            }
        };

        if (isMobile.Android()) {
            device_detect = 'Android';
        }
        else if (isMobile.BlackBerry()) {
            device_detect = 'BlackBerry';
        }
        else if (isMobile.iOS()) {
            device_detect = 'iOS';
        }
        else if (isMobile.Opera()) {
            device_detect = 'Opera';
        }
        else if (isMobile.Windows()) {
            device_detect = 'Windows';
        }
        else {
            device_detect = 'Desktop';
        }

        //   alert(device_detect);

        $("form[name='login_frm']").submit(function (e) {

            e.preventDefault();

           var email = removeSpaces($("#txt_email").val());

           var pwd = removeSpaces($("#txt_pwd").val());

            if (validateEmail(email)) {
               //  alert('valid');
                Authenticate_ByEmail(email, pwd, device_detect);
            }
            else {
                //  alert('Invalid');

                Authenticate_ByMob(email, pwd, device_detect);
            }
        });

    });



    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }


    function removeSpaces(string) {
        return string.split(' ').join('');
    }


    function Authenticate_ByEmail(email, pwd, device_detect)
    {
        ///api/Emp_Info/GetMangerLoginbyEmail/?email=nitinr050@gmail.com&pwd=12334
        $.ajax({
            type: 'GET',
            contentType:'application/json',
            url: "/api/Emp_Info/GetMangerLoginbyEmail/?email=" + email + "&pwd=" + pwd,
            success: function (data)
            {
              // console.log(data);
                if (data.length > 0)
                {

                    write_Customer_log(data, device_detect);
           
                }
                else
                {

                    swal("Oops...", "Invalid EmailId or Password,Please try with correct one.", "error");
                }

            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in Get_code Method !</h4>' + xhr.responseText + '</div>');
                swal("Oops...", "Invalid EmailId or Password,Please try with correct one.", "error");
            }
        });
    }

    function Authenticate_ByMob(mob, pwd, device_detect) {

        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/Emp_Info/ManagerLoginByPhoneNo/?mob=" + mob + "&pwd=" + pwd,
            success: function (data) {

                if (data.length > 0)
                {
                    write_Customer_log(data, device_detect);          
                }
                else
                {
                    swal("Oops...", "Invalid Mobile No. or Password,Please try with correct one.", "error");
                }

            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in Get_code Method !</h4>' + xhr.responseText + '</div>');
                swal("Oops...", "Invalid Mobile No. or Password,Please try with correct one.", "error");
            }
        });

    }


 function write_Customer_log(p_data, device_detect)
    {
        //  console.log(p_data);
        var post_data = {
            EmployeeId: p_data[0].emp_id,
            LoginFrom: device_detect

        };

        $.ajax({
            type: 'POST',
            data: JSON.stringify(post_data),
            contentType: 'application/json',
            url: "/BranchManagerLogin/PostEmp_Session",
            success: function (post_data) {

                @*@Session["CustomerId"]=p_data[0].Id;*@

                @*'@Session["CustomerId"] = "' + p_data[0].Id + '";';*@
                //Data for handle user session
                var user_data = {
                    EmployeeId: p_data[0].emp_id,
                    Log_OId: post_data.Id
                };
                //convert into json
                var U_data = JSON.stringify(user_data);
                //Store in Session
                sessionStorage.setItem("user_data", U_data);
                //@Session["SessionId"]=p_data[0].Id;
                window.location.href = "../OrderManagement/Home/Index";
            },
            error: function (xhr) {
                $('#Error_msg').append('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in Share_Code Method !</h4>' + xhr.responseText + '</div>');

            }

        });
    }
</script>
