﻿

 </div>
</div>
    <section id="footer">
        <div class="footer_top" style="margin-bottom: -16px;">

            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="menu_head">About Us</h3>
                        <div class="footer_menu">
                            <img src="~/Content/images/footer-logo.png" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="menu_head">Help</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a title="Contact Us" href="#"><i class="fa fa-tint"></i> Contact Us</a></li>
                                <li><a title="Special Services" href="#"><i class="fa fa-tint"></i> Special Services</a></li>
                                <li><a title="Advice Tips" href="#"><i class="fa fa-tint"></i> Advice & Tips</a></li>
                                <li><a title="News Video" href="#"><i class="fa fa-tint"></i> News & Video</a></li>
                                <li><a title="Terms Condition" href="#"><i class="fa fa-tint"></i> Terms & Condition</a></li>
                                <li><a title="Site Map" href="#"><i class="fa fa-tint"></i> Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="menu_head">Useful Links</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a title="Home" href="#"><i class="fa fa-tint"></i> Home</a></li>
                                <li><a title="About Us" href="#"><i class="fa fa-tint"></i> About Us</a></li>
                                <li><a title="Shop" href="#"><i class="fa fa-tint"></i> Shop</a></li>
                                <li><a title="Our Staffs" href="#"><i class="fa fa-tint"></i> Our Staffs</a></li>
                                <li><a title="Services" href="#"><i class="fa fa-tint"></i> Services</a></li>
                                <li><a title="Latest News" href="#"><i class="fa fa-tint"></i> Latest News</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="menu_head">Our Location</h3>
                        <img src="~/Content/images/map.jpg" class="img-responsive copimg" />
                        <!--<div style="overflow:hidden;resize:none;max-width:100%;"><div id="gmap_display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Dehradun,+Uttarakhand,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><style>#gmap_display .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div><script src="https://www.dog-checks.com/google-maps-authorization.js?id=d7c3672f-0cc7-ac0e-26f5-65dea3872edc&c=embedded-map-html&u=1471422576" defer="defer" async="async"></script>-->
                    </div>

                </div>
                <label>&nbsp;</label>
                <label>&nbsp;</label>
                <center><p style="color:#FFFFFF">  Copyright &copy; 2016 EasyGhaat. All Right Reserved. Design by: ZeusAdSolutions</p></center>
            </div>

        </div>

</section>


    <!-- Footer Area End -->
    <!-- Back To Top Button -->
    <div id="back-top">

        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>

