﻿


@model IEnumerable<EasyGhaat.Models.DeliveryType_SurgePrice>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        alert("Deleted");
    </script>
}





<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        @if (Model != null)
            {
            <div class="row">

                <div class="col-lg-12">
                    <h4 class="page-header">
                        View DeliveryType SurgePrice
                    </h4>

                    <table class="table">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">
                                <th><center>Delivery Type</center></th>
                                <th><center>Branch Name</center></th>
                                <th><center>Surge %age</center></th>
             
                                <th width="50px">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden="hidden">@item.Id</td>
                                    <td>@item.DeliveryType_tbl.DeliveryType</td>
                                    <td>@item.Branch.Name</td>
                                    <td>@item.SurgePercentage</td>
                  
                                    <td>@Html.ActionLink("Delete", "Delete", "ViewDeliveryTypeSurgePrice", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.Id + "?')" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <a href="@Url.Action("Index","AddDeliveryType_SurgePrice")">Add More</a>
                </div>
            </div>
        }
        else
        {

        }
    </div>

</div>