﻿<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Areas/MasterAdmin/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Areas/MasterAdmin/Content/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Areas/MasterAdmin/Content/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Areas/MasterAdmin/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*@




    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Areas/MasterAdmin/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Areas/MasterAdmin/Content/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Areas/MasterAdmin/Content/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Areas/MasterAdmin/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>




    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"> <img src="~/Areas/MasterAdmin/Content/image/footer-logo1.png" /></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> EasyGhaat Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Index","LogOut")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>


            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-tachometer"></i> Frontend CMS</a>
                        <ul id="demo" class="collapse">

                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-fw fa-home"></i> Home <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo1" class="collapse">
                                    <li><a href="@Url.Action("Index", "AddSlider")"><i class="fa fa-fw fa-arrows-v"></i>Slider</a></li>
                                    <li><a href="@Url.Action("Index","WelcomeArea")"><i class="fa fa-fw fa-arrows-v"></i>WelcomeArea</a></li>
                                    <li><a href="@Url.Action("Index","CreateTestimonials")"><i class="fa fa-fw fa-arrows-v"></i>Testimonial</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo57"><i class="fa fa-fw fa-heart "></i>Media <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo57" class="collapse">
                                    <li><a href="@Url.Action("Index","AddMedia")"><i class="fa fa-fw fa-arrows-v"></i>Add Media</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo56"><i class="fa fa-fw fa-user"></i> About Us <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo56" class="collapse">
                                    <li><a href="@Url.Action("Index","AboutUs")"><i class="fa fa-fw fa-arrows-v"></i>AboutUs</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo11"><i class="fa fa-fw fa-cogs"></i>Services<i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo11" class="collapse">
                                    @*<li><a href="@Url.Action("Index","AddService")"> <i class="fa fa-fw fa-arrows-v"></i> Service</a></li>*@
                                    <li><a href="@Url.Action("Index","AdditionalService")"> <i class="fa fa-fw fa-arrows-v"></i>Aditional Service</a></li>
                                    <li><a href="@Url.Action("Index","AddWelcomeService")"> <i class="fa fa-fw fa-arrows-v"></i>Welcome Service</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo6"><i class="fa fa-fw fa-mobile"></i>Contact Us<i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo6" class="collapse">
                                    @*<li><a href="@Url.Action("Index","AddContactUs")"> <i class="fa fa-fw fa-arrows-v"></i>Add Location</a></li>*@
                                    <li><a href="@Url.Action("Index","AddFeedback")"> <i class="fa fa-fw fa-arrows-v"></i> View Feedback</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo13"><i class="fa fa-fw fa-bullhorn"></i> Offers<i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo13" class="collapse">
                                    <li><a href="@Url.Action("Index","AddOffer")"> <i class="fa fa-fw fa-arrows-v"></i>Add Offers</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo12"><i class="fa fa-fw fa-sign-in"></i>SignUp Strip<i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo12" class="collapse">
                                    <li><a href="@Url.Action("Index","AddSignUp")"> <i class="fa fa-fw fa-arrows-v"></i>View Mail_Collection</a></li>
                                    <li><a href="@Url.Action("Index","UpdateSignUp")"> <i class="fa fa-fw fa-arrows-v"></i>Change BackGroudImage</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo7"><i class="fa fa-fw fa-anchor"></i>Footer<i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo7" class="collapse">
                                    <li><a href="@Url.Action("Index","AddFooter")"> <i class="fa fa-fw fa-arrows-v"></i>Add Footer</a></li>
                                    <li><a href="@Url.Action("Index","UpperFooter")"> <i class="fa fa-fw fa-arrows-v"></i>Upper Footer</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo8"><i class="fa fa-fw fa-tachometer"></i>Admin Manager</a>
                        <ul id="demo8" class="collapse">

                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo9"><i class="fa fa-fw fa-home"></i> Manage Deliveries <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo9" class="collapse">
                                    <li><a href="@Url.Action("Index","AddDeliveryHours")"><i class="fa fa-fw fa-arrows-v"></i>Add DeliveryHours</a></li>
                                    <li><a href="@Url.Action("Index","ViewDeliveryHours")"><i class="fa fa-fw fa-arrows-v"></i>View DeliveryHours</a></li>
                                    <li><a href="@Url.Action("Index","AddDeliveryType_SurgePrice")"><i class="fa fa-fw fa-arrows-v"></i>Add DeliveryType SurgePrice</a></li>
                                    <li><a href="@Url.Action("Index","ViewDeliveryTypeSurgePrice")"><i class="fa fa-fw fa-arrows-v"></i>View DeliveryTypeSurgePrice</a></li>                               
                                    <li><a href="@Url.Action("Index","VendorServiceDeliveryHour")"><i class="fa fa-fw fa-arrows-v"></i>Add VendorService DeliveryHour</a></li>
                                    <li><a href="@Url.Action("Index","ViewVendorServiceDeliveryHour")"><i class="fa fa-fw fa-arrows-v"></i>View VendorServiceDeliveryHour</a></li>                     
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo10"><i class="fa fa-fw fa-home"></i> Manage Products <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo10" class="collapse">
                                    <li><a href="@Url.Action("Index","AddProduct")"><i class="fa fa-fw fa-arrows-v"></i>Add Product</a></li>
                                    <li><a href="@Url.Action("Index","ViewProducts")"><i class="fa fa-fw fa-arrows-v"></i>View Product</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo111"><i class="fa fa-fw fa-home"></i> Manage Reasons <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo111" class="collapse">
                                    <li><a href="@Url.Action("Index","AddCancelReason")"><i class="fa fa-fw fa-arrows-v"></i>Add CancelReason</a></li>
                                    <li><a href="@Url.Action("Index","ViewUpdateCancelReason")"><i class="fa fa-fw fa-arrows-v"></i>View CancelReason</a></li>
                                    <li><a href="@Url.Action("Index","EmployeeRejactionReason")"><i class="fa fa-fw fa-arrows-v"></i>Add Employee RejactionReason</a></li>
                                    <li><a href="@Url.Action("Index","ViewEmployeeRejactionReason")"><i class="fa fa-fw fa-arrows-v"></i>View Employee RejactionReason</a></li>
  
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo113"><i class="fa fa-fw fa-home"></i> Manage Branch <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo113" class="collapse">
                                    <li><a href="@Url.Action("Index","ManageBranch")"><i class="fa fa-fw fa-arrows-v"></i>Manage Branch</a></li>
                                    <li><a href="@Url.Action("Index","UpdateBranch")"><i class="fa fa-fw fa-arrows-v"></i>View Branch</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo114"><i class="fa fa-fw fa-home"></i> Manage Employee <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo114" class="collapse">
                                    <li><a href="@Url.Action("Index","ManageEmployee")"><i class="fa fa-fw fa-arrows-v"></i>Add Employee</a></li>
                                    <li><a href="@Url.Action("Index","ViewEmployees")"><i class="fa fa-fw fa-arrows-v"></i>View Employee</a></li>
                                </ul>
                            </li> 
                            @*<li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo115"><i class="fa fa-fw fa-home"></i> Manage Feedback <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo115" class="collapse">
                                    <li><a href="@Url.Action("Index","AddFeedback")"><i class="fa fa-fw fa-arrows-v"></i>View Feedback</a></li>
                                </ul>
                            </li>*@ 
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo117"><i class="fa fa-fw fa-home"></i> Manage Role <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo117" class="collapse">
                                    <li> <a href="@Url.Action("Index", "ManageRole")"><i class="fa fa-fw fa-arrows-v"></i>Add Role</a></li>
                                </ul>
                            </li> 
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo118"><i class="fa fa-fw fa-home"></i> Manage LaundryBag <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo118" class="collapse">
                                    <li> <a href="@Url.Action("Index", "AddLaundryBag")"><i class="fa fa-fw fa-arrows-v"></i>Add LaundryBag</a></li>
                                    <li> <a href="@Url.Action("Index", "ViewLaundryBags")"><i class="fa fa-fw fa-arrows-v"></i>Add LaundryBag</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo119"><i class="fa fa-fw fa-home"></i> Manage Price <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo119" class="collapse">
                                    <li><a href="@Url.Action("Index","AddPriceList")"><i class="fa fa-fw fa-arrows-v"></i>Add PriceList</a></li>
                                    <li><a href="@Url.Action("Index","ViewPriceList")"><i class="fa fa-fw fa-arrows-v"></i>View PriceList</a></li>
                                                                        
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo120"><i class="fa fa-fw fa-home"></i> Manage PromoCode <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo120" class="collapse">
                                    <li><a href="@Url.Action("Index","AddPromoCode")"><i class="fa fa-fw fa-arrows-v"></i>Add PromoCode</a></li>
                                    <li><a href="@Url.Action("Index","ViewPromoCodes")"><i class="fa fa-fw fa-arrows-v"></i>View PromoCode</a></li>
                                </ul>
                            </li>
                      
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo121"><i class="fa fa-fw fa-home"></i> Manage ReferrralAmount <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo121" class="collapse">
                                    <li><a href="@Url.Action("Index","AddReferrralAmount")"><i class="fa fa-fw fa-arrows-v"></i>Add ReferrralAmount</a></li>
                                    <li><a href="@Url.Action("Index","ViewReferralAmount")"><i class="fa fa-fw fa-arrows-v"></i>View ReferrralAmount</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo122"><i class="fa fa-fw fa-home"></i> Manage Surge <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo122" class="collapse">
                                    <li><a href="@Url.Action("Index","AddSurge")"><i class="fa fa-fw fa-arrows-v"></i>Add Surge</a></li>
                                    <li><a href="@Url.Action("Index","UpdateSurge")"><i class="fa fa-fw fa-arrows-v"></i>View Surge</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo123"><i class="fa fa-fw fa-home"></i> Manage TimeSlot <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo123" class="collapse">
                                    <li><a href="@Url.Action("Index","AddTimeSlot")"><i class="fa fa-fw fa-arrows-v"></i>Add TimeSlot</a></li>
                                    <li><a href="@Url.Action("Index","ViewTimeSlot")"><i class="fa fa-fw fa-arrows-v"></i>View TimeSlot</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo124"><i class="fa fa-fw fa-home"></i> Manage Vendor <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo124" class="collapse">
                                    <li><a href="@Url.Action("Index","AddVendor")"><i class="fa fa-fw fa-arrows-v"></i>Add Vendor</a></li>
                                    <li><a href="@Url.Action("Index","ViewVendor")"><i class="fa fa-fw fa-arrows-v"></i>View Vendor</a></li>
                                    <li><a href="@Url.Action("Search","AddVendorPriceList")"><i class="fa fa-fw fa-arrows-v"></i>Add PriceList</a></li>
                                    <li><a href="@Url.Action("Index","ViewVendorPrice")"><i class="fa fa-fw fa-arrows-v"></i>View PriceList</a></li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo125"><i class="fa fa-fw fa-home"></i> Manage Categories <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo125" class="collapse">
                                    <li><a href="@Url.Action("Index","ViewCategory")"><i class="fa fa-fw fa-arrows-v"></i>View Category</a></li>
                                </ul>
                            </li>               
                        </ul>
                    </li>
                </ul>
</div>
            <!-- /.navbar-collapse -->
        </nav>
        <div>
            @RenderBody()

        </div>



        <!-- Bootstrap Core JavaScript -->

        <script src="~/Areas/MasterAdmin/Content/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="~/Areas/MasterAdmin/Content/js/bootstrap.min.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="~/Areas/MasterAdmin/Content/js/plugins/morris/raphael.min.js"></script>
        <script src="~/Areas/MasterAdmin/Content/js/plugins/morris/morris.min.js"></script>
        <script src="~/Areas/MasterAdmin/Content/js/plugins/morris/morris-data.js"></script>

</body>
</html>
