﻿
@model IEnumerable<EasyGhaat.Models.PriceTable>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}





@if (TempData["Message-1"] != null)
{
    <script type="text/javascript">
        alert("Already exists");
    </script>
}


@{
    int count = 0;
    var txtname = "txtPrice";
    var rs = 0;
    // var hdnPriceId = "txtPriceId";

}


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script type="text/javascript">


    $(document).ready(function () {


        bind_drp_Branch();
        $('#ddlBranch').change(function () {
            branchId = $(this).val();
            FillVendor(branchId);
        });

        $('#btnSubmit').click(function () {

            for (var i = 0; i < tblPrice.rows.length - 1; i++) {
                var txtPriceId = $("input[id='hdnPriceId" + i.toString() + "']").val();
                var txtBoxPrice = $("Input[id='txtPrice" + i.toString() + "']").val();


                data = {
                    Id: 0,
                    VendorId: 0,
                    PriceId: txtPriceId,
                    IsDeleted: null,
                    Price: txtBoxPrice
                };

                $.ajax({
                    type: "POST",
                    //contentType: "application/json; charset=utf-8;",
                    url: "/AddVendorPriceList/getValues2",
                    data: data,
                    success: function (data) {



                    },
                    error: function (xhr) {

                        $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
                    }
                });

            }
            window.location = '../../UpdateVendor/Index';
        });

    });

    function bind_drp_Branch() {
        $('#ddlBranch').html('');
        $('#ddlBranch').append('<option value="0">Select Branch</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/GetBranchs",
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlBranch').append('<option value=' + value.BranchId + '>' + value.BranchName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }


    function FillVendor(BranchId) { // this the code to bind Vendor
        $('#ddlVendor').html('');
        $("#ddlVendor").prop("disabled", false);
        $('#ddlVendor').append('<option value="0">Select Vendor</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/ViewGetVendorByBranchIds/" + BranchId,
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlVendor').append('<option value=' + value.Id + '>' + value.VendorName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }


</script>
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    View Vendor Price
                </h4>
                <form class="form-inline" method="post" action="@Url.Action("Search","ViewVendorPrice")">
                    <div class="form-group">
                        <label>Branch  </label>
                        <select required name="ddlBranch" Class="form-control form-control-lg" id="ddlBranch">
                            <option value="">Select Branch</option>
                        </select>
                        <label>Vendor  </label>
                        <select required name="ddlVendor" Class="form-control form-control-lg" id="ddlVendor">
                            <option value="">Select Vendor</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <p></p>
                @if (Model != null)
                {
                    <table class="table" id="tblPrice">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">
                                <th><center>Image </center></th>
                                <th><center>Product </center></th>
                                <th><center>Service </center></th>
                                <th><center>Price </center></th>
                                <th><center>Delete </center></th>
                                <th><center>Edit </center></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                rs = count++;
                                var res = @String.Concat(txtname, rs);
                                <tr>
                                    <td hidden="hidden"><input type="hidden" id="@String.Concat("hdnPriceId", rs)" value="@item.Id" name="hdnPriceId" />  </td>
                                    <td style="width:50px; height:50px"><center><img src="@Url.Content(item.Product.ImgUrl)" alt="" class="img-responsive"></center></td>
                                    <td><center>@item.Product.Name</center></td>
                                    <td><center>@item.Service.Name</center></td>
                                    <td><center><input type="text" value="@item.Price" readonly="" id="@String.Concat(txtname, rs)" name="txtPrice" /></center></td>
                                    <td>
                                        <center>
                                            @Html.ActionLink("Delete", "Delete", "AddVendorPriceList", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the tag " + @item.Id + "?')" })
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            @Html.ActionLink("Edit", "Edit", "EditVendorPriceList", new { id = @item.Id }, null)
                                        </center>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                 
                }
            </div>
        </div>
    </div>
</div>




















