﻿@model EasyGhaat.Models.Aditional_servicepage
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Edit Additional Service
                </h3>
                <form method="post" action="Submit">
                    <div class="col-md-6">
                        <label>Box Heading</label>
                        <input type="text" name="BoxHeading" value="@Model.box_heading" id="BoxHeading" class="form-control" />
                        <label>Box Content</label>
                        <textarea name="BoxContent" value="@Model.box_content" rows="8" cols="8" id="BoxContent" class="form-control">
                            @Model.box_content
                        </textarea>
                        <br />
                        <input type="submit" class="btn btn-primary" value="Submit" />
                        <input type="hidden" id="hdnId" value="@Model.id" name="hdnId" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
