﻿@model IEnumerable<EasyGhaat.Models.Aditional_servicepage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
@*<script src="~/scripts/tinymce/tinymce.js"></script>
<script src="~/scripts/main.js"></script>*@

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Add Additional Service
                </h3>
                <form method="post"  action="@Url.Action("Submit","AdditionalService")">
                    <div class="col-md-6">
                        <label>Box Heading</label>
                        <input type="text" name="BoxHeading" id="BoxHeading" class="form-control" />
                        <label>Box Content</label>
                        <textarea name="BoxContent" rows="8" cols="8" id="BoxContent" class="form-control"></textarea>
                        <br />
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </form>
            </div>
        </div>

        @if (Model!=null)
        {


            <div class="row">

                <div class="col-lg-12">
                    <h3 class="page-header">
                        Edit Additional Services
                    </h3>
                    <table class="table-bordered">
                        <thead>
                            <tr style="background-color:#2e6da4;color:white;">
                               
                                <th><center>box_heading</center></th>
                                <th><center>box_content</center></th>
                                
                                <th width="50px">Edit</th>
                                <th width="50px">Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>                                  
                                    <td hidden="hidden">@item.id</td>
                                    <td>@item.box_heading</td>
                                    <td>@item.box_content</td>
                                    <td>@Html.ActionLink("Edit", "Edit", "AdditionalService", new { id = @item.id }, null)</td>
                                    <td>@Html.ActionLink("Delete", "Delete", "AdditionalService", new { id = @item.id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.id + "?')" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>



        }

        else

        {





        }












    </div>
</div>