﻿

@model IEnumerable<EasyGhaat.Models.Referral_tbl>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        @if (Model != null)
            {
            <div class="row">

                <div class="col-lg-12">
                    <h4 class="page-header">
                        View Rerferral
                    </h4>
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th><center>RoleType Referral</center></th>   
                                <th><center>RoleType Referee</center></th>                                 
                                <th><center>Discount Amount</center></th>
                                <th><center>Create Date</center></th>           
                                <th width="50px">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden="hidden">@item.Id</td>
                                    <td>@item.Referral</td>
                                    <td>@item.Referee</td>
                                    <td>@item.Amount</td>
                                    <td>@item.CreateDate</td>                         
                                    <td>@Html.ActionLink("Delete", "Delete", "ViewReferralDetail", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.Id + "?')" })</td>                   
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <a href="@Url.Action("Index","AddReferralAndRefereeDiscountAmount")">Add More</a>
                </div>
            </div>
        }
        else
        {

        }
    </div>

