﻿<html class="no-js">
 <!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>EasyGhaat</title>
    <meta name="description" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="../css/animate.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../css/owl.carousel.css" />
    <link rel="stylesheet" href="../css/owl.theme.css" />
    <!-- Pretty Photo -->
    <link rel="stylesheet" href="../css/prettyPhoto.css" />
    <!-- Main color style -->
    <link rel="stylesheet" href="../css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="../css/custom.css" />

    <!-- Responsive -->
    <link rel="stylesheet" href="../css/responsive.css" />
    <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="../css/bootstrap-social.css" />
    <link rel="stylesheet" href="../css/scrolling-nav.css" />

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


    <section id="service" style="background-color:#32c2e5;">
        <div class="container">
            <!-- Welcome -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp; color:#FFFFFF;">WELCOME</h2>
                        <p class="subtitle" style="color:#FFFFFF;">Duis autem vel eum iriure dolor</p>

                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
            <div class="row">
                <div class="main_feature text-center">
                    <div class="col-md-4 col-xs-12 col-sm-4">
                        <div class="feature_content">
                            <img src="~/Content/images/service/aservice1.jpg" class="img-responsive img-circle img_border" />
                            <p align="center" style="color:#FFFFFF;">Eos et accumsan et iusto odio dignissim qui blandit praesent luptaum zzelenit augue duis dolore te feugait nulla facilisi. Typi non habent claritatem insita. </p>
                            <p><button type="button" class="btn btn-primary btn-xs">Read More</button></p>
                        </div>
                    </div>
                    <!-- Col-md-4 Single_feature End -->
                    <div class="col-md-4 col-xs-12 col-sm-4">
                        <div class="feature_content">
                            <img src="~/Content/images/service/aservice2.jpg" class="img-responsive img-circle img_border" />
                            <p align="center" style="color:#FFFFFF;">Eos et accumsan et iusto odio dignissim qui blandit praesent luptaum zzelenit augue duis dolore te feugait nulla facilisi. Typi non habent claritatem insita. </p>
                            <p><button type="button" class="btn btn-primary btn-xs">Read More</button></p>
                        </div>
                    </div> <!-- Col-md-4 Single_feature End -->
                    <div class="col-md-4 col-xs-12 col-sm-4">
                        <div class="feature_content">
                            <img src="~/Content/images/service/aservice3.jpg" class="img-responsive img-circle img_border" />
                            <p align="center" style="color:#FFFFFF;">Eos et accumsan et iusto odio dignissim qui blandit praesent luptaum zzelenit augue duis dolore te feugait nulla facilisi. Typi non habent claritatem insita. </p>
                            <p><button type="button" class="btn btn-primary btn-xs">Read More</button></p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>  <!-- Row End -->

        </div>  <!-- Container End -->
    </section>
    <!-- Javascript Files
        ================================================== -->
    <!-- initialize jQuery Library -->
    <!-- initialize jQuery Library -->
    <!-- Main jquery -->
    <script type="text/javascript" src="../js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="../js/owl.carousel.min.js"></script>
    <!-- Isotope -->
    <script src="../js/jquery.isotope.js"></script>
    <!-- Pretty Photo -->
    <script type="text/javascript" src="../js/jquery.prettyPhoto.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="../js/smooth-scroll.js"></script>
    <!-- Image Fancybox -->
    <script type="text/javascript" src="../js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Counter  -->
    <script type="text/javascript" src="../js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="../js/waypoints.min.js"></script>
    <!-- Bx slider -->
    <script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="../js/jquery.scrollTo.js"></script>
    <!-- Easing js -->
    <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
    <!-- PrettyPhoto -->
    <script src="../js/jquery.singlePageNav.js"></script>
    <!-- Wow Animation -->
    <script type="js/javascript" src="../js/wow.min.js"></script>
    <!-- Google Map  Source -->
    <!-- Custom js -->
    <script src="../js/custom.js"></script>
    <script src="../js/scrolling-nav.js"></script>
    <script src="../js/jquery.easing.min.js"></script>

</body>
</html>
