﻿@model EasyGhaat.Models.about_stripe
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}


@*<script src="~/scripts/tinymce/tinymce.js"></script>
<script src="~/scripts/main.js"></script>*@
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Edit About Us
                </h1>
                <form method="post" action="@Url.Action("Save","EditAboutUs")">

                        <div class="col-md-6">
                        <label>Title</label>
                        <input type="text" name="title" id="title" value="@Model.title" class="form-control" />
                        <label>Sub title</label>
                        <input type="text" name="Subtitle" id="Subtitle" value="@Model.sub_title" class="form-control" />
                        <label>About Content</label>
                        <textarea name="aboutContent" rows="8" cols="8" id="aboutContent" value="@Model.about_content" class="form-control">
                            @Model.about_content

                        </textarea>
                            <label>ReadMore Content</label>
                            <textarea name="ReadMoreContent" rows="8" cols="8" id="ReadMoreContent" value="@Model.ReadMore_Content" class="form-control">
                                @Model.ReadMore_Content

                            </textarea>

                        <br />
                        <input type="submit" value="Save" />

                        @*@Html.HiddenFor(model => model.id)*@

                        <input type="hidden" id="hdnId" value="@Model.id" name="hdnId" />
                    </div>
                    }

              

                </form>
            </div>
        </div>
    </div>
</div>