﻿

    <!-- Pricing Table Start -->
    <section id="pricing_table" class="pricing_overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp; color:#FFFFFF">PRICES</h2>
                        <p class="subtitle" style="color:#FFFFFF">Our Packages</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
            <div class="row">
                <div class="grid_3 pricing-item wow fadeInRight animated" data-wow-duration=".2s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 0.2s; animation-delay: 0.2s; animation-name: fadeInRight;">
                    <div class="pricing_title parallax">
                        <h5>Basic</h5>
                    </div>
                    <div class="pricing-content">
                        <div class="price-wrap">
                            <span class="currency"><i class="fa fa-inr fa-3x"></i></span>
                            <span class="price">2500</span>

                        </div>
                        <ul class="feature-list">
                            <li>You Pay</li>
                            <li>Get your worth</li>
                            <li>Pick, service & deliver</li>
                        </ul>
                        <button type="submit" class="btn btn-primary">Order Now</button>
                    </div>
                </div>
                <div class="grid_3 pricing-item wow fadeInRight animated" data-wow-duration=".4s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 0.4s; animation-delay: 0.4s; animation-name: fadeInRight;">
                    <div class="pricing_title parallax">
                        <h5>Silver</h5>
                    </div>
                    <div class="pricing-content">
                        <div class="price-wrap">
                            <span class="currency"><i class="fa fa-inr fa-3x"></i></span>
                            <span class="price">3500</span>
                        </div>
                        <ul class="feature-list">
                            <li>You Pay</li>
                            <li>Get your worth</li>
                            <li>Pick, service & deliver</li>
                        </ul>
                        <button type="submit" class="btn btn-primary">Order Now</button>
                    </div>
                </div>
                <div class="grid_3 pricing-item wow fadeInRight animated" data-wow-duration=".6s" data-wow-delay=".6s" style="visibility: visible; animation-duration: 0.6s; animation-delay: 0.6s; animation-name: fadeInRight;">
                    <div class="pricing_title parallax">
                        <h5>Gold</h5>
                    </div>
                    <div class="pricing-content">
                        <div class="price-wrap">
                            <span class="currency"><i class="fa fa-inr fa-3x"></i></span>
                            <span class="price">4500</span>
                        </div>
                        <ul class="feature-list">
                            <li>You Pay</li>
                            <li>Get your worth</li>
                            <li>Pick, service & deliver</li>
                        </ul>
                        <button type="submit" class="btn btn-primary">Order Now</button>
                    </div>
                </div>
                <div class="grid_3 pricing-item wow fadeInRight animated" data-wow-duration=".8s" data-wow-delay=".8s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.8s; animation-name: fadeInRight;">
                    <div class="pricing_title parallax">
                        <h5>Platinum</h5>
                    </div>
                    <div class="pricing-content">
                        <div class="price-wrap">
                            <span class="currency"><i class="fa fa-inr fa-3x"></i></span>
                            <span class="price">5500</span>
                        </div>
                        <ul class="feature-list">
                            <li>You Pay</li>
                            <li>Get your worth</li>
                            <li>Pick, service & deliver</li>
                        </ul>
                        <button type="submit" class="btn btn-primary">Order Now</button>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <p>&nbsp;</p>
                    <a href="~/Content/price-list.html"><button type="submit" class="btn btn-primary bac">View more</button></a>
                </div>
            </div>
        </div>

      <!-- Pricing Section End -->
   

