﻿@model EasyGhaat.Models.ManageReferral
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}




@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull Add Surge");

    </script>

}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Update Referral
                </h4>
                <form method="post" action="@Url.Action("Edit","UpdateReferral")">
                    <div class="col-md-6">

                        <label>Amount</label>
                        <input type="number"  min="1" max="100" name="Amount" id="Amount" value="@Model.ReferralAmount" class="form-control" required="" />
                        <br />

                        <label>Validity</label>
                        <input type="number"   min="1" max="100" name="Validity" id="Validity" value="@Model.ValidityDays" class="form-control" required="" />
                        <br />
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <input type="hidden" id="hdnId" value="@Model.Id" name="hdnId" />
                        <input type="hidden" id="hdnIdbid" value="@Model.BranchId" name="hdnIdbid" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

