﻿@model IEnumerable<EasyGhaat.Models.CustomerFeedback>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    View Feedbacks
                </h3>

                <table class="table">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th width="200px"><center>Name</center></th>
                            <th width="200px"><center>Email</center></th>
                            <th width="200px"><center>Contact_No</center></th>
                            <th width="200px"><center>Feedback_Message</center></th>
                            <th width="200px"><center>Date</center></th>
                            <th width="50px">Delete</th>

                        </tr>
                    </thead>
                    @if (Model != null)
                    {
                        <tbody>

                            @foreach (var item in Model)
                            {

                                if (item.IsActive == false)
                                {
                                    <tr>
                                        <td hidden="hidden">@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.Message</td>
                                        <td>@item.CreatedDate.Value.ToShortDateString()</td>
                                        <td>@Html.ActionLink("Delete", "Delete", "AddFeedback", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.Id + "?')" })</td>
                                    </tr>
                                }

                                else

                                {

                                    <tr style="color:#32C2E5;">
                                        <td hidden="hidden">@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.Message</td>
                                        <td>@item.CreatedDate.Value.ToShortDateString()</td>
                                        <td>@Html.ActionLink("Delete", "Delete", "AddFeedback", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.Id + "?')" })</td>
                                    </tr>

                                }
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
