﻿@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<html class="no-js">
 <!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>EasyGhaat</title>
    <meta name="description" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="../css/animate.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../css/owl.carousel.css" />
    <link rel="stylesheet" href="../css/owl.theme.css" />
    <!-- Pretty Photo -->
    <link rel="stylesheet" href="../css/prettyPhoto.css" />
    <!-- Main color style -->
    <link rel="stylesheet" href="../css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="../css/custom.css" />

    <!-- Responsive -->
    <link rel="stylesheet" href="../css/responsive.css" />
    <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="../css/bootstrap-social.css" />
    <link rel="stylesheet" href="../css/scrolling-nav.css" />


<!-- fancy box -->
 <link href="~/Content/fancyapps/source/helpers/jquery.fancybox-buttons.css" rel="stylesheet" />
    <script src="~/Content/fancyapps/source/helpers/jquery.fancybox-buttons.js"></script>
    <script src="~/Content/fancyapps/source/helpers/jquery.fancybox-media.js"></script>
    <link href="~/Content/fancyapps/source/helpers/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <script src="~/Content/fancyapps/source/helpers/jquery.fancybox-thumbs.js"></script>
    <script src="~/Content/fancyapps/source/jquery.fancybox.js"></script>
    <script src="~/Content/fancyapps/source/jquery.fancybox.pack.js"></script>
    <link href="~/Content/fancyapps/source/jquery.fancybox.css" rel="stylesheet"/>
    <script src="~/Content/fancyapps/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="~/Content/fancyapps/lib/jquery-1.10.1.min.js"></script>
    <script src="~/Content/fancyapps/lib/jquery-1.9.0.min.js"></script>

<script type="text/javascript">
		$(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$('.fancybox').fancybox();

			/*
			 *  Different effects
			 */

			// Change title type, overlay closing speed
			$(".fancybox-effects-a").fancybox({
				helpers: {
					title : {
						type : 'outside'
					},
					overlay : {
						speedOut : 0
					}
				}
			});

			// Disable opening and closing animations, change title type
			$(".fancybox-effects-b").fancybox({
				openEffect  : 'none',
				closeEffect	: 'none',

				helpers : {
					title : {
						type : 'over'
					}
				}
			});

			// Set custom style, close if clicked, change title type and overlay color
			$(".fancybox-effects-c").fancybox({
				wrapCSS    : 'fancybox-custom',
				closeClick : true,

				openEffect : 'none',

				helpers : {
					title : {
						type : 'inside'
					},
					overlay : {
						css : {
							'background' : 'rgba(238,238,238,0.85)'
						}
					}
				}
			});

			// Remove padding, set opening and closing animations, close if clicked and disable overlay
			$(".fancybox-effects-d").fancybox({
				padding: 0,

				openEffect : 'elastic',
				openSpeed  : 150,

				closeEffect : 'elastic',
				closeSpeed  : 150,

				closeClick : true,

				helpers : {
					overlay : null
				}
			});

			/*
			 *  Button helper. Disable animations, hide close button, change title type and content
			 */

			$('.fancybox-buttons').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',

				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,

				helpers : {
					title : {
						type : 'inside'
					},
					buttons	: {}
				},

				afterLoad : function() {
					this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
				}
			});


			/*
			 *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
			 */

			$('.fancybox-thumbs').fancybox({
				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,
				arrows    : false,
				nextClick : true,

				helpers : {
					thumbs : {
						width  : 50,
						height : 50
					}
				}
			});

			/*
			 *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
			*/
			$('.fancybox-media')
				.attr('rel', 'media-gallery')
				.fancybox({
					openEffect : 'none',
					closeEffect : 'none',
					prevEffect : 'none',
					nextEffect : 'none',

					arrows : false,
					helpers : {
						media : {},
						buttons : {}
					}
				});

			/*
			 *  Open manually
			 */

			$("#fancybox-manual-a").click(function() {
				$.fancybox.open('1_b.jpg');
			});

			$("#fancybox-manual-b").click(function() {
				$.fancybox.open({
					href : 'iframe.html',
					type : 'iframe',
					padding : 5
				});
			});

			$("#fancybox-manual-c").click(function() {
				$.fancybox.open([
					{
						href : '1_b.jpg',
						title : 'My title'
					}, {
						href : '2_b.jpg',
						title : '2nd title'
					}, {
						href : '3_b.jpg'
					}
				], {
					helpers : {
						thumbs : {
							width: 75,
							height: 50
						}
					}
				});
			});


		});

    </script>



    <style type="text/css">
        .fancybox-custom .fancybox-skin {
            box-shadow: 0 0 50px #222;
        }

      
    </style>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <!-- instant order -->
    <section id="service">

        <!-- download button strart-->
        <!-- End download button-->


        <div class="container">
            <!-- Welcome -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">Services</h2>
                      <!--  <p class="subtitle">Duis autem vel eum iriure dolor</p>-->

                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
            <!-- Row End -->
            <!-- Row End -->
            <div class="row">




             
                

                <div class="main_feature text-center">
@foreach (EasyGhaat.Models.service_page_stripe service_page_stripe in Model.service_page_stripes)
{

                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <p>&nbsp;</p>
                        <div class="col-lg-6 col-sm-6">
<center><img src="@Url.Content(service_page_stripe.box_image)" class="img-responsive" /></center>

</div>
                        <div class="col-lg-6 col-sm-6">
                            <h4>@service_page_stripe.box_heading</h4>
                            <p align="justify">@service_page_stripe.box_content</p>
                              <p align="center"><a class="fancybox fancybox.iframe" href="@Url.Action("Index", "ViewMoreService" , new {id=@service_page_stripe.id})"><button type="button" class="btn btn-primary btn-xs">Raed more</button></a></p>
							
<p>&nbsp;</p>
                        </div>
                    </div>
}
                    <!-- Col-md-4 Single_feature End -->

                </div>
                







            </div>


        </div>  <!-- Container End -->


    </section>









    <section id="service" style="background-color:#32c2e5;">
        <div class="container">
            <!-- Welcome -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp; color:#FFFFFF;">WELCOME</h2>
                       <!-- <p class="subtitle" style="color:#FFFFFF;">Duis autem vel eum iriure dolor</p>-->

                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
            <div class="row">
                <div class="main_feature text-center">
@foreach (EasyGhaat.Models.wlcm_srvic_stripe wlcm_srvic_stripe in Model.wlcm_srvic_stripes)
{

                    <div class="col-md-4 col-xs-12 col-sm-6">
                        <div class="feature_content">
                           <center><img src="@Url.Content(wlcm_srvic_stripe.box_image)"  class="img-responsive img-circle img_border" /></center>
                            <p align="center" style="color:#FFFFFF;">@wlcm_srvic_stripe.box_content </p>
                            <p align="center"><button type="button" class="btn btn-primary btn-xs">Read more</button></p>
<p>&nbsp;</p>
                        </div>
                    </div>
 }
                </div>
            </div>  <!-- Row End -->

        </div>  <!-- Container End -->
    </section>
















    <section id="service">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">ADDITIONAL SERVICES</h2>
                  <!--  <p class="subtitle">Duis autem vel eum iriure dolor</p>-->
                    <p>&nbsp;</p>
                </div>

            </div>
            <!-- Col-md-12 End -->
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-12 col-xs-12 col-md-12"></div>
                <div class="col-md-12 col-xs-12 col-md-12">

              @foreach (EasyGhaat.Models.Aditional_servicepage Aditional_servicepage in Model.Aditional_servicepages)
              {
                        <div class="col-lg-3 col-sm-6">
                            <center><span class="fa fa-heart-o" style="font-size: 30px;color: #000;"></span></center>
                            <h4 align="center">@Aditional_servicepage.box_heading</h4>
                            <p align="center">@Aditional_servicepage.box_content</p>
<p>&nbsp;</p>
                        </div>
              }

                </div>



                <!-- Col-md-4 Single_feature End -->

            </div>

        </div>

    </section>



    
    <!--footer-->
    <section id="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
                    {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title1</h3>

                            <img src="@Url.Content(Footer.content1)" alt="" class="img-responsive">

                        </div>
                    }
                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title2</h3>
<div class="footer_menu">
                        <ul>

                            @Html.Raw(Footer.content2)
</ul></div>
                        </div>
                    }



                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title3</h3>
<div class="footer_menu">
                        <ul>

                            @Html.Raw(Footer.content3)
</ul></div>
                        </div>
                    }




                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title4</h3>

                            <img src="@Url.Content(Footer.content4)" alt="" class="img-responsive">

                        </div>
                    }




                </div>
                <label>&nbsp;</label>
@foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
{


    <center>
        <p style="color:#FFFFFF">

            @Footer.copyright
            Developed by: <a href="http://www.zeusadsolutions.com" alt="Software Company" title="Software Development and Web Development Company" target="_blank">ZeusAdSolutions</a>
        </p>
    </center>
}
            </div>

        </div>

    </section>
    <!--footer end-->
    <div id="back-top">

        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
    <!-- Javascript Files












    <!-- Javascript Files
    ================================================== -->
    <!-- initialize jQuery Library -->
    <!-- initialize jQuery Library -->
    <!-- Main jquery -->
    <script type="text/javascript" src="../js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="../js/owl.carousel.min.js"></script>
    <!-- Isotope -->
    <script src="../js/jquery.isotope.js"></script>
    <!-- Pretty Photo -->
    <script type="text/javascript" src="../js/jquery.prettyPhoto.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="../js/smooth-scroll.js"></script>
    <!-- Image Fancybox -->
    <script type="text/javascript" src="../js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Counter  -->
    <script type="text/javascript" src="../js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="../js/waypoints.min.js"></script>
    <!-- Bx slider -->
    <script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="../js/jquery.scrollTo.js"></script>
    <!-- Easing js -->
    <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
    <!-- PrettyPhoto -->
    <script src="../js/jquery.singlePageNav.js"></script>
    <!-- Wow Animation -->
    <script type="js/javascript" src="../js/wow.min.js"></script>
    <!-- Google Map  Source -->
    <!-- Custom js -->
    <script src="../js/custom.js"></script>
    <script src="../js/scrolling-nav.js"></script>
    <script src="../js/jquery.easing.min.js"></script>














   @*@Html.Partial("~/Views/ServiceWelcome/Index.cshtml");*@
    @*@Html.Partial("~/Views/AditionalService/Index.cshtml");*@

</body>
</html>