﻿@model EasyGhaat.Models.testimonial

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}

<div class="page-wrapper">


    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Edit Testimonials
                </h3>
                <div>

                    <form method="post" action="@Url.Action("Edit","EditTestimonials")">
                        <div class="col-md-6">

                            <label>Testimonial Content</label>
                            <textarea name="Title" id="Title" vlue="@Model.testi_content" rows="8" cols="8" class="form-control">
                                @Model.testi_content
                            </textarea>

                            <br />
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>

                        <input type="hidden" id="hdnId" value="@Model.tesit_id" name="hdnId" />
                    </form>

                </div>

                </div>
            </div>
        </div>
    </div>
