﻿@model IEnumerable<EasyGhaat.Models.testimonial>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               Update Testimonials
            </h1>
            <div>
                <table class="table-bordered" style="table-layout">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tittle</th>
                            <th>Sub Tittle</th>
                            <th>Message</th>
                            <th>Image Path</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var testi in Model)
                        { 
                        <tr>
                            <td>@testi.tesit_id</td>
                            <td>@testi.title</td>
                            <td>@testi.sub_title</td>
                            <td>@testi.image_path</td>
                            
                           
                            <td style="width:50px; height:50px"><img src="@Url.Content(testi.image_path)" alt="" class="img-responsive"></td>
                          
                            <td>@Html.ActionLink("Edit", "Edit", "EditTestimonials", new { id = @testi.tesit_id }, null)</td>
                            <td>@Html.ActionLink("Delete", "Delete", "EditTestimonials", new { id = @testi.tesit_id }, null)</td>
                            
                          


                        </tr>

                        }


                    </tbody>



                </table>

            </div>
        
        
        
        
        
        
        </div>
        </div>
    </div>