﻿@model EasyGhaat.Models.Branch
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}



@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull Add Branch");

    </script>

}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Edit Branch
                </h4>

                <form method="post" action="@Url.Action("Edit","UpdateBranch")">
                    <div class="col-md-6">
                        <label>Branch Name</label>
                        <input type="text" name="BranchName" id="BranchName"  maxlength="50"  value="@Model.Name"  required="" class="form-control" />
                        <br />
                        <label>Address</label>
                        <textarea name="BranchAddress" id="BranchAddress"  maxlength="250"  value="@Model.Address" required="" rows="8" cols="8" class="form-control">
                            @Model.Address
                        </textarea>
                        <br />               
                        <label>Phone Number</label>
                        <input type="tel" name="PhoneNumber"  maxlength="10" value="@Model.PhoneNumber" id="PhoneNumber" class="form-control" required="" />
                        <br />
                        <label>Fax Number</label>
                        <input type="tel"  name="FaxNumber"  maxlength="20"  value="@Model.FaxNo" id="FaxNumber" class="form-control" required="" />
                        <br />
                        <label>EmailId</label>
                        <input type="email" name="EmailId" id="EmailId"  maxlength="50"  value="@Model.EmailId"  class="form-control" required="" />
                        <br />
                        <br />

                        <input type="submit" class="btn btn-primary" value="Submit" />
                        <input type="hidden" id="hdnId" value="@Model.Id" name="hdnId" />


                    </div>
                </form>
            </div>
        </div>



    </div>

</div>