﻿

<link href="~/jqGrid/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/jqGrid/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<script src="~/jqGrid/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/jqGrid/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/jqGrid/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>







<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    JqGrid
                </h4>
                <div>
                    <table id="grid"></table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

                    $(function () {
                        $("#grid").jqGrid({
                            url: "@Url.Action("GetBranchDetails", "UpdateBranch")",
                            datatype: 'json',
                            mtype: 'Get',
                            colNames: ['Id', 'Name', 'Address', 'PhoneNumber', 'CityName', 'EmailId', 'Status'],
                            colModel: [
                                { key: true, hidden: true, name: 'Id', index: 'Id', editable: true },
                                { key: false, name: 'Name', index: 'Name', editable: true },
                                { key: false, name: 'Address', index: 'Address', editable: true },
                                { key: false, name: 'PhoneNumber', index: 'PhoneNumber', editable: true },
                                { key: false, name: 'CityName', index: 'CityName', editable: true },
                                { key: false, name: 'EmailId', index: 'EmailId', editable: true },
                                { key: false, name: 'IsActive', index: 'IsActive', editable: false }],
                            pager: jQuery('#pager'),
                            rowNum: 10,
                            rowList: [10, 20, 30, 40],
                            height: '100%',
                            viewrecords: true,
                            caption: 'Todo List',
                            emptyrecords: 'No records to display',
                            jsonReader: {
                                root: "rows",
                                page: "page",
                                total: "total",
                                records: "records",
                                repeatitems: false,
                                Id: "0"
                            },
                            autowidth: true,
                            multiselect: false
                        }).navGrid('#pager', { edit: true, add: true, del: true, search: false, refresh: true },
                            {
                                // edit options
                                zIndex: 100,
                                url: "@Url.Action("Edit", "UpdateBranch")",
                                closeOnEscape: true,
                                closeAfterEdit: true,
                                recreateForm: true,
                                afterComplete: function (response) {
                                    if (response.responseText) {
                                        alert(response.responseText);
                                    }
                                }
                            },
                            {
                                // add options
                                zIndex: 100,
                                url: "@Url.Action("Create", "UpdateBranch")",
                                closeOnEscape: true,
                                closeAfterAdd: true,
                                afterComplete: function (response) {
                                    if (response.responseText) {
                                        alert(response.responseText);
                                    }
                                }
                            },
                            {
                                // delete options
                                zIndex: 100,
                                url: "@Url.Action("Delete", "UpdateBranch")",
                                closeOnEscape: true,
                                closeAfterDelete: true,
                                recreateForm: true,
                                msg: "Are you sure you want to delete this task?",
                                afterComplete: function (response) {
                                    if (response.responseText) {
                                        alert(response.responseText);
                                    }
                                }
                            });
                    });


</script>

