﻿@model IEnumerable<EasyGhaat.Models.Branch>



@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}






@*@Html.Partial("~/Areas/MasterAdmin/Views/UpdateBranch/GetBranchDetails.cshtml");*@


@*<link href="~/jqGrid/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/jqGrid/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<script src="~/jqGrid/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/jqGrid/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/jqGrid/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>






                <script type="text/javascript">
                
                  
                    $(function () {
                        $("#grid").jqGrid({
                            url: "@Url.Action("GetBranchDetails", "UpdateBranch")",
                            datatype: 'json',
                            mtype: 'Get',
                            colNames: ['Id', 'Name', 'Address', 'PhoneNumber', 'CityName', 'EmailId', 'Status'],
                            colModel: [
                                { key: true, hidden: true, name: 'Id', index: 'Id', editable: true },
                                { key: false, name: 'Name', index: 'Name', editable: true },
                                { key: false, name: 'Address', index: 'Address', editable: true },
                                { key: false, name: 'PhoneNumber', index: 'PhoneNumber', editable: true },
                                { key: false, name: 'CityName', index: 'CityName', editable: false },
                                { key: false, name: 'EmailId', index: 'EmailId', editable: true },
                                { key: false, name: 'IsActive', index: 'IsActive', editable: false }],
                            pager: jQuery('#pager'),
                            rowNum: 10,
                            rowList: [10, 20, 30, 40],
                            height: '100%',
                            viewrecords: true,
                            caption: 'Todo List',
                            emptyrecords: 'No records to display',
                            jsonReader: {
                                root: "rows",
                                page: "page",
                                total: "total",
                                records: "records",
                                repeatitems: false,
                                Id: "0"
                            },
                            autowidth: true,
                            multiselect: false
                        }).navGrid('#pager', { edit: true, add: true, del: true, search: false, refresh: true },
                            {
                                // edit options
                                zIndex: 100,
                                url: "@Url.Action("Edit", "UpdateBranch")",
                                closeOnEscape: true,
                                closeAfterEdit: true,
                                recreateForm: true,
                                afterComplete: function (response) {
                                    if (response.responseText) {
                                        alert(response.responseText);
                                    }
                                }
                            },
                            {
                                // add options
                                zIndex: 100,
                                url: "@Url.Action("Create", "UpdateBranch")",
                                closeOnEscape: true,
                                closeAfterAdd: true,
                                afterComplete: function (response) {
                                    if (response.responseText) {
                                        alert(response.responseText);
                                    }
                                }
                            },
                            {
                                // delete options
                                zIndex: 100,
                                url: "@Url.Action("Delete", "UpdateBranch")",
                                closeOnEscape: true,
                                closeAfterDelete: true,
                                recreateForm: true,
                                msg: "Are you sure you want to delete this task?",
                                afterComplete: function (response) {
                                    if (response.responseText) {
                                        alert(response.responseText);
                                    }
                                }
                            });

                    });
                </script>*@




<!-- <div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-header">
                    JqGrid
                </h4>
                <div>
                    <table id="grid"></table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
        </div>
    </div>
     -->





























































                <div class="page-wrapper">
                    <div class="container-fluid">


                @if (Model != null)
                    {
                        <div class="row">

                            <div class="col-lg-12">
                                <h4 class="page-header">
                                    Update Branch
                                </h4>
                                <table class="table">
                                    <thead class="thead-inverse">
                                        <tr style="background-color:#2e6da4;color:white;">

                                            <th><center>Branch Id</center></th>
                                            <th><center>Branch Name</center></th>
                                            <th><center>Branch Address</center></th>
                                            <th><center>Branch City</center></th>
                                            <th><center>Branch PhoneNo</center></th>
                                            <th><center>Branch FaxNo</center></th>
                                            <th><center>Branch EmailId</center></th>
                                            <th><center>Branch Status</center></th>
                                            <th width="50px">Edit</th>
                                            <th width="50px">Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                                <td>@item.Name</td>
                                                <td>@item.Address</td>
                                                <td>@Html.DisplayFor(modelItem => item.City.CityName)</td>
                                                <td>@item.PhoneNumber</td>
                                                <td>@item.FaxNo</td>
                                                <td>@item.EmailId</td>
                                                @if (item.IsActive == false)
                                                {
                                                    <td><input type="button" class="btn btn-primary" onclick="Active(@item.Id)" name="btnActive" id="btnActive" value="Active" /></td>

                                                }
                                                else
                                                {
                                                    <td><input type="button" class="btn btn-primary" onclick="UnActive(@item.Id)" name="btnUnActive" id="btnUnActive" value="UnActive" /></td>

                                                }
                                                <td>@Html.ActionLink("Edit", "Edit", "UpdateBranch", new { id = @item.Id }, null)</td>
                                                <td>@Html.ActionLink("Delete", "Delete", "UpdateBranch", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the tag " + @item.Id + "?')" })</td>
                                                @*<td><a class="fancybox fancybox.iframe" href="@Url.Action("Index", "ViewBranchDetail", new { id = @item.Id }, null)">View</a> </td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }



                       


                    <script type="text/javascript">
                        $(document).ready(function () {

                            function Active(a) {


                                var dataObject =
                                    {
                                        id: a

                                    };

                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("DoActive", "UpdateBranch")",
                                    url: 'UpdateBranch/DoActive',
                                    data: dataObject,
                                    dataType: "json",
                                    success: function (data) {
                                        alert('Done!');
                                        window.location.reload();
                                    }
                                });
                            }


                            function UnActive(a) {


                                var dataObject =
                                    {
                                        id: a

                                    };

                                $.ajax({
                                    type: "POST",
                                    url:"@Url.Action("DoUnActive", "UpdateBranch")",                                  
                                    data: dataObject,
                                    dataType: "json",
                                    success: function (data) {
                                        alert('Done!');
                                        window.location.reload();
                                    }
                                });
                            }

                        });


                       </script>

                </div>
                    </div>
