﻿


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var branchId;
        var EmployeeId;
        var PCityId;
        var CCityId;
        var citynamep;
        var citynamec;
        bind_drp_Branch();
        bind_drp_Role();
        $("#ddlEmployee").prop("disabled", true);
        $('#ddlBranch').change(function () {
            branchId = $(this).val();
        });
        $('#tblshow').hide();
        $('#tblshow').html('');
        $('#btnupdateFirst').hide();
        $('#tblshowSalary').hide();
        $('#tblshowBankDetail').hide();
        $('#btnupdateFourth').hide();
        $('#tblshowSalary').html('');
        $('#btnupdateThird').hide();
        $('#EdittblAdressDetail').hide();
        $('#EdittblAdressDetailCurrent').hide();
        $('#btnupdateSecondone').hide();
        $('#btnupdateSecond').hide();
        $('#ddlCityp').hide();
        $('#ddlCityc').hide();
        $('#Addp').hide();
        $('#Addc').hide();
        $('#empDetail').hide();
        $('#AddressDetailP').hide();
        $('#AddressDetailC').hide();
        $('#SalaryDetail').hide();
        $('#BankDetail').hide();
        $('#btnFirst').hide();
        $('#btnSecond').hide();
        $('#btnThird').hide();
        $('#btnFourth').hide();
        $('#ddlRoleType').change(function () {
            var RoleId = $(this).val();
            FillEmployee(branchId, RoleId);
        });
        $('#btnFirst').click(function () {
            $('#tblshow').show();
            $('#btnupdateFirst').show();
        });
        $('#btnThird').click(function () {
            $('#tblshowSalary').show();
            $('#btnupdateThird').show();
        });
        $('#btnFourth').click(function () {
            $('#tblshowBankDetail').show();
            $('#btnupdateFourth').show();
        });
        $('#btnSecond').click(function () {
            $('#EdittblAdressDetail').show();
            $('#EdittblAdressDetailCurrent').show();
            $('#btnupdateSecondone').show();
            $('#btnupdateSecond').show();
            $('#Addp').show();
            $('#Addc').show();
            $('#ddlCityp').show();
            $('#ddlCityc').show();
            matchCity();
            bind_drp_City();
         
        });
        $('#ddlEmployee').change(function () {
            EmployeeId = $(this).val();
            $('#tblEmployeeDetail').html('');
            $('#tblAdressDetail').html('');
            $('#tblSalaryDetail').html('');
            $('#tblBankDetail').html('');
            $('#tblAdressDetailCurrent').html('');
            $('#empDetail').show();
            $('#AddressDetailP').show();
            $('#AddressDetailC').show();
            $('#SalaryDetail').show();
            $('#BankDetail').show();
            $('#btnFirst').show();
            $('#btnSecond').show();
            $('#btnThird').show();
            $('#btnFourth').show();
            FillEmpTables(EmployeeId);
            FillEmpAddresstbl(EmployeeId);
            
        });
    });


    function matchCity()
    {       
         citynamep = $('#spancityp').text();
         citynamec = $('#spancityc').text();
    }


    function updateBank()
    {
        var txtBankName = $('#txtBankName').val();
        var txtIFSC = $('#txtIFSC').val();
        var txtBranchName = $('#txtBranchName').val();
        var txtMICR = $('#txtMICR').val();
        var txtAccountType = $('#txtAccountType').val();
        var hdnEmployeeId = $('#hdnEmployeeId').val();
        var txtBankAccountNumber = $('#txtBankAccountNumber').val();
        var dataObject =
            {
                BankName: txtBankName,
                IFSC: txtIFSC,
                EmployeeId: hdnEmployeeId,
                IsDeleted: 0,
                // IsActive: 1,
                //CreateDate: Date,
                BranchName: txtBranchName,
                MICR: txtMICR,
                AccountType: txtAccountType,
                BankAccountNumber: txtBankAccountNumber
            };
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateBankDetail", "ViewEmployees")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                // $('#tblshow').hide();
                alert('Done!');
                window.location.reload();
            }
        });
    }
    function updatePermanentAddress() {
        var txtAddressType = $('#txtAddressType').val();
        var txtCityName = $('#txtCityName').val();
        var txtAreaId = $('#txtAreaId').val();
        var txtHouseNo = $('#txtHouseNo').val();
        var txtStreetName = $('#txtStreetName').val();
        var hdnEmployeeId = $('#hdnEmployeeId').val();
        var txtLandMark = $('#txtLandMark').val();
        var ddlCityId = $('#ddlCityp').val();
        var dataObject =
            {
                AddressType: txtAddressType,
                CityId: ddlCityId,
                AddTypeId: 4,
                IsDeleted: 0,
                // IsActive: 1,
                AreaId: txtAreaId,
                HouseNo: txtHouseNo,
                StreetName: txtStreetName,
                LandMark: txtLandMark,
                EmployeeId: hdnEmployeeId
            };
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateAddress", "ViewEmployees")",
            data: dataObject,
            dataType: "json",
            success: function (data) {

                // $('#tblshow').hide();
                alert('Done!');
                window.location.reload();
            }
        });
    }
    function updateCurrentAddress() {
        var txtAddressTypeCurrent = $('#txtAddressTypeCurrent').val();
        var txtCityNameCurrent = $('#txtCityNameCurrent').val();
        var txtAreaIdCurrent = $('#txtAreaIdCurrent').val();
        var txtHouseNoCurrent = $('#txtHouseNoCurrent').val();
        var txtStreetNameCurrent = $('#txtStreetNameCurrent').val();
        var hdnEmployeeId = $('#hdnEmployeeId').val();
        var txtLandMarkCurrent = $('#txtLandMarkCurrent').val();
        var ddlCityId = $('#ddlCityc').val();
        var dataObject =
            {
                AddressType: txtAddressTypeCurrent,
                CityId: ddlCityId,
                EmpId: hdnEmployeeId,
                AddTypeId: 5,
                IsDeleted: 0,
                // IsActive: 1,
                AreaId: txtAreaIdCurrent,
                HouseNo: txtHouseNoCurrent,
                StreetName: txtStreetNameCurrent,
                LandMark: txtLandMarkCurrent,
                EmployeeId: hdnEmployeeId
            };
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateAddress", "ViewEmployees")",
            data: dataObject,
            dataType: "json",
            success: function (data) {

                // $('#tblshow').hide();
                alert('Done!');
                window.location.reload();
            }
        });
    }
    //  updateCurrentAddress
    function updateEmp() {
        var txtEmployeeId = $('#txtEmployeeId').val();
        var txtEmployeeName = $('#txtEmployeeName').val();
        var txtPhoenNo = $('#txtPhoenNo').val();
        var txtEmailId = $('#txtEmailId').val();
        var dataObject =
            {
                emp_Id: txtEmployeeId,
                emp_name: txtEmployeeName,
                per_phoneNo: txtPhoenNo,
                EmailId: txtEmailId
            };
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateEmployee", "ViewEmployees")",
            data: dataObject,
            dataType: "json",
            success: function (data) {

    
                alert('Done!');
                window.location.reload();
      
            }
        });
    }
    function checkEmail() {
        var txtEmailId = $('#txtEmailId').val();
        var dataObject =
            {
                EmailId: txtEmailId,
            };
        $.ajax({
            type: "POST",
            url: "@Url.Action("CheckEmail", "ViewEmployees")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
             //  console.log('received this data: ' + data);

               if (data==false)
               {
                  alert("EmailId Already Exists");
               }

               if(data==true)
               {

               }
            }
        });
    }
    function CheckPhoneNo() {
        var txtPhoenNo = $('#txtPhoenNo').val();
        var dataObject =
            {
                per_phoneNo: txtPhoenNo,
            };
        $.ajax({
            type: "POST",
            url: "@Url.Action("CheckPhoneNo", "ViewEmployees")",
            data: dataObject,
            dataType: "json",
            success: function (data) {

               // console.log('received this data: ' + data);

                if (data == false)
                {
                    alert("Phone Number Already Exists");
                }

                if (data == true)
                {

                }
            }
        });
    }
    function updateSalary() {
        var txtBasicSalary = $('#txtBasicSalary').val();
        var txtTA = $('#txtTA').val();
        var txtDA = $('#txtDA').val();
        var txtHRA = $('#txtHRA').val();
        var hdnEmployeeId = $('#hdnEmployeeId').val();
        var dataObject =
            {
                BasicSalary: txtBasicSalary,
                TA: txtTA,
                DA: txtDA,
                HRA: txtHRA,
                EmpId: hdnEmployeeId,
                //IsActive:1,
                IsDeleted: 0,
                // CreateDate: Date
            };
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateSalary", "ViewEmployees")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                // $('#tblshow').hide();
                alert('Done!');
                window.location.reload();
            }
        });
    }
    function bind_drp_Branch() {
        $('#ddlBranch').html('');
        $('#ddlBranch').append('<option value="0">Select Branch</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/GetBranchs",
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlBranch').append('<option value=' + value.BranchId + '>' + value.BranchName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }
    function bind_drp_Role() {
        $('#ddlRoleType').html('');
        $('#ddlRoleType').append('<option value="0">Select Role</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/GetRoles",
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlRoleType').append('<option value=' + value.RoleId + '>' + value.RoleName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }

    function FillEmployee(BranchId, RoleId) { // this the code to bind Employee
        $('#ddlEmployee').html('');
        $("#ddlEmployee").prop("disabled", false);
        $('#ddlEmployee').append('<option value="0">Select Employee</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/GetEmployeebyRoleAndBranchs/" + BranchId + "/" + RoleId,
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlEmployee').append('<option value=' + value.EmployeeId + '>' + value.EmployeeName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }

    function FillEmpTables(EmployeeId) {
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/GetEmployeeDetails/" + EmployeeId,
            success: function (data) {
                $.each(data, function (idx, value)
                {
                    $('#tblEmployeeDetail').append('<tr><td>' + value.EmployeeId + '</td><td>' + value.EmployeeName + '</td><td>' + value.PhoenNo + '</td><td>' + value.EmailId + '</td><td>' + value.DOB + '</td> <td>' + value.DOJ + '</td></tr>');
                    $('#tblSalaryDetail').append('<tr><td>' + value.BasicSalary + '</td><td>' + value.TA + '</td><td>' + value.DA + '</td><td>' + value.HRA + '</td></tr>');
                    $('#tblBankDetail').append('<tr><td>' + value.BankAccountNumber + '</td><td>' + value.IFSC + '</td><td>' + value.BankName + '</td><td>' + value.BranchName + '</td><td>' + value.MICR + '</td><td>' + value.AccountType + '</td></tr>');
                    $('#tblshow').append('<tr><td><input type="text" value= ' + value.EmployeeId + ' id="txtEmployeeId"/></td><td><input type="text" value= ' + value.EmployeeName + ' id="txtEmployeeName"/></td> <td><input type="text" onChange="CheckPhoneNo();"     value= ' + value.PhoenNo + ' id="txtPhoenNo"/></td><td> <input type="text" onChange="checkEmail();"  value= ' + value.EmailId + ' id="txtEmailId"/></td> </tr>');
                    $('#tblshowSalary').append('<tr> <td><input type="text" value= ' + value.BasicSalary + ' id="txtBasicSalary"/></td><td><input type="text" value= ' + value.TA + ' id="txtTA"/></td> <td><input type="text" value= ' + value.DA + ' id="txtDA"/></td><td> <input type="text" value= ' + value.HRA + ' id="txtHRA"/></td><td><input type=" type="hidden"" value= ' + value.EmployeeId + ' id="hdnEmployeeId"/></td></tr>');
                    $('#tblshowBankDetail').append('<tr><td><input type="text" value= ' + value.BankAccountNumber + ' id="txtBankAccountNumber"/></td><td><input type="text" value= ' + value.IFSC + ' id="txtIFSC"/></td><td><input type="text" value= ' + value.BankName + ' id="txtBankName"/></td> <td><input type="text" value= ' + value.BranchName + ' id="txtBranchName"/></td><td> <input type="text" value= ' + value.MICR + ' id="txtMICR"/></td><td> <input type="text" value= ' + value.AccountType + ' id="txtAccountType"/></td> <td><input type=" type="hidden"" value= ' + value.EmployeeId + ' id="hdnEmployeeId"/></td> </tr>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }
    function FillEmpAddresstbl(EmployeeId) {

        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/GetEmpAddress/ViewEmpAddress/" + EmployeeId,
            success: function (data) {
                $.each(data, function (idx, value) {
                    if (value.AddressType == "Permanent Addres") {
                        $('#tblAdressDetail').append('<tr><td>' + value.AddressType + '</td><td><span id="spancityp">' + value.CityName + '</span></td><td>' + value.AreaId + '</td><td>' + value.HouseNo + '</td><td>' + value.StreetName + '</td> <td>' + value.LandMark + '</td><td>' + value.Longitude + '</td> <td>' + value.Lattitude + '</td></tr>');
                        $('#EdittblAdressDetail').append('<tr><td><input type="text" value= ' + value.AddressType + ' id="txtAddressType"/></td> <td><input type="text" value= ' + value.HouseNo + ' id="txtHouseNo"/></td>       <td><input type="text" value= ' + value.AreaId + ' id="txtAreaId"/></td> <td><input type="text" value= ' + value.StreetName + ' id="txtStreetName"/></td><td> <input type="text" value= ' + value.LandMark + ' id="txtLandMark"/> <td><input type=" type="hidden"" value= ' + value.EmployeeId + ' id="hdnEmployeeId"/></td> </tr>');
                    }
                    if (value.AddressType == "Current Addres") {
                        $('#tblAdressDetailCurrent').append('<tr><td>' + value.AddressType + '</td><td><span id="spancityc">' + value.CityName + '</span></td><td>' + value.AreaId + '</td><td>' + value.HouseNo + '</td><td>' + value.StreetName + '</td> <td>' + value.LandMark + '</td><td>' + value.Longitude + '</td> <td>' + value.Lattitude + '</td></tr>');
                        $('#EdittblAdressDetailCurrent').append('<tr><td><input type="text" value= ' + value.AddressType + ' id="txtAddressTypeCurrent" /></td> <td><input type="text" value= ' + value.HouseNo + ' id="txtHouseNoCurrent"/></td>   <td><input type="text" value= ' + value.AreaId + ' id="txtAreaIdCurrent"/></td> <td><input type="text" value= ' + value.StreetName + ' id="txtStreetNameCurrent"/></td><td> <input type="text" value= ' + value.LandMark + ' id="txtLandMarkCurrent"/> <td><input type=" type="hidden"" value= ' + value.EmployeeId + ' id="hdnEmployeeId"/></td> </tr>');
                    }
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }

    debugger;
    function bind_drp_City()
    {
        $('#ddlCityp').html('');
  
        $('#ddlCityp').append('<option value="0">' + citynamep + '</option>');
        $('#ddlCityc').html('');
        $('#ddlCityc').append('<option value="0">' + citynamec + '</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/StateCity/GetCities",
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlCityp').append('<option value=' + value.Id + '>' + value.CityName + '</option>');
                    $('#ddlCityc').append('<option value=' + value.Id + '>' + value.CityName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }
</script>
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <div class="col-lg-12">
                <div class="form-group col-md-4">
                    <label for="ddlBranch ">Branch</label>
                    <select name="ddlBranch" class="form-control form-control-lg" id="ddlBranch"></select>
                </div>
                <div class="form-group col-md-4">
                    <label for="ddlRoleType">Role</label>
                    <select name="ddlRoleType" class="form-control" id="ddlRoleType"></select>
                </div>
                <div class="form-group col-md-4">
                    <label for="ddlEmployee">Employee</label>
                    <select name="ddlEmployee" class="form-control" id="ddlEmployee"></select>
                </div>
            </div>
            <div class="col-lg-12">
                <h4 class="page-header">
                    Employee Details
                </h4>
                <!-- Large modal -->
                <button type="button" id="btnFirst" class="btn btn-primary">Edit</button>
                <p></p>
                <table class="table" id="empDetail">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>EmployeeId</th>
                            <th>EmployeeName</th>
                            <th>PhoneNo</th>
                            <th>EmailId</th>
                            <th>DOB</th>
                            <th>DOJ</th>
                        </tr>
                    </thead>
                    <tbody id="tblEmployeeDetail"></tbody>
                </table>
                <table id="tblshow">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>EmployeeId</th>
                            <th>EmployeeName</th>
                            <th>PhoneNo</th>
                            <th>EmailId</th>
                        </tr>
                    </thead>
                </table>
                <p></p>
                <button type="button" id="btnupdateFirst" onclick="updateEmp()" class="btn btn-primary">Update </button>
            </div>
            <div class="col-lg-12">
                <h4 class="page-header">
                    Address Details
                </h4>
                <p>
                </p>
                <button type="button" id="btnSecond" class="btn btn-primary">Edit</button>
                <p>
                </p>
                <table class="table" id="AddressDetailP">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>AddressType</th>
                            <th>CityName</th>
                            <th>AreaId</th>
                            <th>HouseNo</th>
                            <th>StreetName</th>
                            <th>LandMark</th>
                            <th>Longitude</th>
                            <th>Lattitude</th>
                        </tr>
                    </thead>
                    <tbody id="tblAdressDetail"></tbody>
                </table>
                <p></p>
                <table class="table" id="Addp">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>AddressType</th>
                            <th>AreaId</th>
                            <th>HouseNo</th>
                            <th>StreetName</th>
                            <th>LandMark</th>
                        </tr>
                    </thead>
                    <tbody id="EdittblAdressDetail"></tbody>
                </table>
                <p></p>

                <div class="row">
                    <div class="col-md-6">
                        <span style="float:right"><button type="button" id="btnupdateSecondone" onclick="updatePermanentAddress()" class="btn btn-primary">Update </button></span>
                    </div>
                    <div class="col-md-6">
                        <select name="ddlCityp" class="form-control form-control-lg" id="ddlCityp"></select>
                    </div>
                </div>
                <p>
                </p>
                <table class="table" id="AddressDetailC">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>AddressType</th>
                            <th>CityName</th>
                            <th>AreaId</th>
                            <th>HouseNo</th>
                            <th>StreetName</th>
                            <th>LandMark</th>
                            <th>Longitude</th>
                            <th>Lattitude</th>
                        </tr>
                    </thead>
                    <tbody id="tblAdressDetailCurrent"></tbody>
                </table>
                <p></p>
                <table class="table">
                    <thead class="thead-inverse" id="Addc">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>AddressType</th>
                            <th>AreaId</th>
                            <th>HouseNo</th>
                            <th>StreetName</th>
                            <th>LandMark</th>
                        </tr>
                    </thead>
                    <tbody id="EdittblAdressDetailCurrent"></tbody>
                </table>
                <p></p>
                <div class="row">
                    <div class="col-md-6">
                        <span style="float:right"><button type="button" id="btnupdateSecond" onclick="updateCurrentAddress()" class="btn btn-primary">Update </button></span>
                    </div>
                    <div class="col-md-6">
                        <select name="ddlCityc" class="form-control form-control-lg" id="ddlCityc"></select>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <h4 class="page-header">
                    Salary Details
                </h4>
                <p>
                </p>
                <button type="button" id="btnThird" class="btn btn-primary">Edit</button>
                <p>
                </p>
                <table class="table" id="SalaryDetail">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>BasicSalary</th>
                            <th>TA</th>
                            <th>DA</th>
                            <th>HRA</th>
                        </tr>
                    </thead>
                    <tbody id="tblSalaryDetail"></tbody>
                </table>
                <table id="tblshowSalary">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>BasicSalary</th>
                            <th>TA</th>
                            <th>DA</th>
                            <th>HRA</th>
                        </tr>
                    </thead>
                </table>
                <p></p>
                <button type="button" id="btnupdateThird" onclick="updateSalary()" class="btn btn-primary">Update </button>
            </div>
            <div class="col-lg-12">
                <h4 class="page-header">
                    Bank Details
                </h4>
                <p>
                </p>
                <button type="button" id="btnFourth" class="btn btn-primary">Edit</button>
                <p>
                </p>
                <table class="table" id="BankDetail">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>BankAccountNumber</th>
                            <th>IFSC</th>
                            <th>BranchName</th>
                            <th>BranchName</th>
                            <th>MICR</th>
                            <th>AccountType</th>
                        </tr>
                    </thead>
                    <tbody id="tblBankDetail"></tbody>
                </table>
                <table id="tblshowBankDetail">
                    <thead class="thead-inverse">
                        <tr style="background-color:#2e6da4;color:white;">
                            <th>BankAccountNumber</th>
                            <th>IFSC</th>
                            <th>BranchName</th>
                            <th>BranchName</th>
                            <th>MICR</th>
                            <th>AccountType</th>
                        </tr>
                    </thead>
                </table>
                <p></p>
                <button type="button" id="btnupdateFourth" onclick='updateBank()' class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>


