﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message-1"] != null)
{
    <script type="text/javascript">
        alert("Already exists");
    </script>
}




<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script type="text/javascript">


    $(document).ready(function () {


        bind_drp_Branch();
        $('#ddlBranch').change(function () {
            branchId = $(this).val();
            FillVendor(branchId);
        });



        });

    function bind_drp_Branch() {
        $('#ddlBranch').html('');
        $('#ddlBranch').append('<option value="0">Select Branch</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/GetBranchs",
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlBranch').append('<option value=' + value.BranchId + '>' + value.BranchName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }


    function FillVendor(BranchId) { // this the code to bind Vendor
        $('#ddlVendor').html('');
        $("#ddlVendor").prop("disabled", false);
        $('#ddlVendor').append('<option value="0">Select Vendor</option>');
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: "/api/ViewGetVendorByBranchIds/" + BranchId,
            success: function (data) {
                $.each(data, function (idx, value) {
                    $('#ddlVendor').append('<option value=' + value.Id + '>' + value.VendorName + '</option>');
                });
            },
            error: function (xhr) {
                // sweetAlert("Oops...", "Something went wrong! " + xhr.responseText, "error");
                $('#Error_msg').html('<div class="alert alert-error" style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>Error in bind_drp_men_pro Method !</h4>' + xhr.responseText + '</div>');
            }
        });
    }

</script>
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Add Vendor Price
                </h4>
                <form class="form-inline" method="post" action="@Url.Action("Search","AddVendorPriceList")">
                    <div class="form-group">
                        <label>Branch  </label>
                        <select required name="ddlBranch" Class="form-control form-control-lg" id="ddlBranch">
                            <option value="">Select Branch</option>
                        </select>
                        <label>Vendor  </label>
                        <select required name="ddlVendor" Class="form-control form-control-lg" id="ddlVendor">
                            <option value="">Select Vendor</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>              
            </div>
        </div>
    </div>
</div>


























