﻿
@model EasyGhaat.Models.PriceTable


    @{
        ViewBag.Title = "Index";
        Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
    }


    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">
                        Edit Price 
                    </h4>
                    <form method="post"  action="@Url.Action("Edit","EditVendorPriceList")">
                        <div class="col-md-6">
                            <label>Product</label>
                            <br/>
                            <input type="text" name="Product" id="Product" value="@Model.Product.Name" readonly="" class="form-control" />
                            <br/>
                            <label>Unit</label>
                            <br/>
                            <input type="text" name="Unit" id="Unit" value="@Model.Unit_Type.U_Type" readonly="" class="form-control" />
                            <br/>
                            <label>Price</label>
                            <br/>
                            <input type="number"  min="1" max="100"  name="Price" id="Price" value="@Model.Price" class="form-control" />
                            <br/>                      
                            <input type="hidden" id="hdnId" name="hdnId" value="@Model.Id" />
                            <input type="submit" class="btn btn-primary" value="Submit" />
                            <br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




