﻿@model EasyGhaat.Models.UpperFooter
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Add UpperFooter
                </h1>

              
                    <form method="post" action="@Url.Action("Edit","UpperFooter")">
                        <div class="col-md-6">


                            <label>Heading</label>
                            <input type="text" name="Heading" value="@Model.Heading" id="Heading" required="" class="form-control" />
                            <br />
                            <label>Content</label>
                            <textarea name="Content3" rows="8" cols="8" required="" value="@Model.Content" id="Content3" class="form-control">
                                @Model.Content
                            </textarea>
                            <br />
                            <label>ContactNo</label>
                            <input type="text" name="ContactNumber" value="@Model.ContactNumber" id="ContactNumber" class="form-control" />
                            <br />
                            <label>Icon(ImagePath)</label>
                            <input name="Icon" rows="8" cols="8" required="" id="Icon" value="@Model.Icon" class="form-control"/>
                            
                 

                            <br />
                            <input type="submit" class="btn btn-primary" value="Submit" />
                            <br />
                            <input type="hidden" id="hdnId" value="@Model.Id" name="hdnId" />

                        </div>
                    </form>

                    </div>

                        </div>


                        </div>
                    </div>

