﻿@model IEnumerable < EasyGhaat.Models.UpperFooter>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Add UpperFooter
                </h1>
                    <form method="post" action="@Url.Action("Submit","UpperFooter")">
                        <div class="col-md-6">
                       
                            <label>Heading</label>
                            <input type="text" name="Heading"  id="Heading" required="" class="form-control" />
                            <br />
                            <label>Content</label>
                            <textarea name="Content3" rows="8" cols="8" required="" id="Content3" class="form-control">
                               
                            </textarea>
                            <br />
                            <label>ContactNo</label>
                            <input type="text" name="ContactNumber"  id="ContactNumber" class="form-control" />
                            <br />
                            <label>Icon(ImagePath)</label>
                            <input name="Icon" rows="8" cols="8" required="" id="Icon"  class="form-control"/>                              
                               <lable style="color:red">* Image Size should be: 47 * 47</lable>                 
                            <br />
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                    </form>

                @if (Model != null)
                {
                    <div class="row">

                        <div class="col-lg-12">
                            <h3 class="page-header">
                                Edit UpperFooter
                            </h3>
                            <table class="table-bordered">
                                <thead>
                                    <tr style="background-color:#2e6da4;color:white;">
                                        <th><center>Image</center></th>
                                        <th><center>heading</center></th>
                                        <th><center>content</center></th>
                                        <th><center>Contact_Number</center></th>
                                        <th width="50px">Edit</th>
                                        <th width="50px">Delete</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="width:50px; height:50px"><img src="@Url.Content(item.Icon)" alt="" class="img-responsive"></td>
                                            <td hidden="hidden">@item.Id</td>
                                            <td>@item.Heading</td>
                                            <td>@item.Content</td>
                                            <td>@item.ContactNumber</td>
                                            <td>@Html.ActionLink("Edit", "Edit", "UpperFooter", new { id = @item.Id }, null)</td>
                                            <td>@Html.ActionLink("Delete", "Delete", "UpperFooter",  new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.Id + "?')" })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
        
                }








            </div>
        </div>
    </div>
</div>

