﻿@model EasyGhaat.Models.Welocme_area
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@*<script src="~/scripts/tinymce/tinymce.js"></script>
<script src="~/scripts/main.js"></script>*@
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                   Welcome Area
                </h1>  
                
                @if(Model!=null)
                { 
                <form method="post"    action="@Url.Action("UpdateWelcomeArea", "WelcomeArea")">                             
                    <div class="col-md-6">                                
                        <label>LeftSide Content</label>
                        <textarea name="WelcomeContent" rows="8" cols="8"  id="WelcomeContent" value="@Model.welcome_content" class="form-control">
                            @Model.welcome_content
                        </textarea> 
                        <br />                                                                   
                                <label>RightSide Content</label>
                                <textarea name="WelcomeContent2" rows="8" cols="8" id="WelcomeContent2" value="@Model.welcome_content1" class="form-control">
                                    @Model.welcome_content1
                                </textarea> 
                        <br />                                          
                        <br />                      
                          <input type="submit" class="btn btn-primary" value="Submit" />
                        <input type="hidden" id="hdnId" value="@Model.id" name="hdnId" />
                       </div>

                </form>
                }
                else
                {
                    <form method="post" action="@Url.Action("Create", "WelcomeArea")">
                        <div class="col-md-6">
                            <label>LeftSide Content</label>
                            <textarea name="WelcomeContent" rows="8" cols="8" id="WelcomeContent" class="form-control">                              
                            </textarea>
                            <br />
                            <label>RightSide Content</label>
                            <textarea name="WelcomeContent2" rows="8" cols="8" id="WelcomeContent2" class="form-control">                            
                            </textarea>
                            <br />                      
                            <br />
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                    </form>
                }




</div>
</div>
</div>
</div>