﻿@model IEnumerable<EasyGhaat.Models.ReferalAmount_Tbl>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        @if (Model != null)
            {
            <div class="row">

                <div class="col-lg-12">
                    <h3 class="page-header">
                        View Referral Amounts
                    </h3>
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">
                                <th><center>Id</center></th>
                                <th><center>RoleId</center></th>
                                <th><center>Amount</center></th>
                                <th width="50px">Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>@item.Id</td>
                                    <td>@item.ReferRoleType.RoleName</td>
                                    <td>@item.Amount</td>
                                    <td>@Html.ActionLink("Delete", "Delete", "ViewReferralAmount", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.Id + "?')" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
  <a href="@Url.Action("Index","AddReferrralAmount")">Go Back</a>
            </div>
        }
        else
        {
            <div class="row">

                <div class="col-lg-12">
                    <h3 class="page-header">
                        
                    </h3>

                    <p> There is no Referral Added </p>

                </div>
            </div>
        }


    </div>

</div>


