﻿
@model IEnumerable<EasyGhaat.Models.LaundryBag_Tbl>




@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}





<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">
                View Laundry Bags
            </h4>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                @if (Model != null)
                {

                    <table class="table">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">

                                <th><center>BagImgUrl</center></th>


                                <th><center>MaterialName</center></th>

                                <th><center>weight Capacity</center></th>

                                <th><center>Count Capacity</center></th>

                                <th><center>Price</center></th>

                                 <th width="50px"><center>Edit</center></th>

                                 <th width="50px"><center>Delete</center></th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width:50px; height:50px"><img src="@Url.Content(item.BagImgUrl)" alt="" class="img-responsive"></td>
                                    <td hidden="hidden">@item.Id</td>
                                    <td>@item.MaterialName</td>
                                    <td>@item.weightCapacity</td>
                                    <td>@item.CountCapacity</td>
                                    <td>@item.Price</td>
                                    <td>@Html.ActionLink("Edit", "Edit", "ViewLaundryBags", new { id = @item.Id }, null)</td>
                                    <td>@Html.ActionLink("Delete", "Delete", "ViewLaundryBags", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.Id + "?')" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                }

            </div>
        </div>
    </div>
</div>




