﻿@model EasyGhaat.Models.Surge
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}




@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull Add Surge");

    </script>

}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Edit Surge
                </h4>
                <form method="post" action="@Url.Action("Edit","UpdateSurge")">
                    <div class="col-md-6">
            
                        <label>Amount %</label>
                        <input type="number" min="1" max="100" name="SurgeAmount" id="SurgeAmount"  value="@Model.SurgeAmount" class="form-control" required="" />
                        <br />
                        <br />
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <input type="hidden" id="hdnId" value="@Model.Id" name="hdnId" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

