﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*@Styles.Render("~/Content/cuscss")
    @Scripts.Render("~/bundles/modernizr")*@






</head>
<body>

    <header>
      
        @Html.Partial("~/Views/Header/Index.cshtml");
      




    </header>
    <div>
     
        
        
                
       
              
        
          @RenderBody()


            
        
        </div>




        @*@Html.Partial("~/Views/Footer/Footer.cshtml");*@


    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@



    <!-- Javascript Files
        ================================================== -->
    <!-- initialize jQuery Library -->
    <!-- initialize jQuery Library -->
    <!-- Main jquery -->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Isotope -->
    <script src="~/Content/js/jquery.isotope.js"></script>
    <!-- Pretty Photo -->
    <script type="text/javascript" src="~/Content/js/jquery.prettyPhoto.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="~/Content/js/smooth-scroll.js"></script>
    <!-- Image Fancybox -->
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Counter  -->
    <script type="text/javascript" src="~/Content/js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <!--<script type="text/javascript" src="js/waypoints.min.js"></script>-->
    <!-- Bx slider -->
    <script type="text/javascript" src="~/Content/js/jquery.bxslider.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="~/Content/js/jquery.scrollTo.js"></script>
    <!-- Easing js -->
    <script type="text/javascript" src="~/Content/js/jquery.easing.1.3.js"></script>
    <!-- PrettyPhoto -->
    <!--<script src="js/jquery.singlePageNav.js"></script>-->
    <!-- Wow Animation -->
    <!--<script type="js/javascript" src="js/wow.min.js"></script>-->
    <!-- Google Map  Source -->
    <!-- Custom js -->
    <script src="~/Content/js/custom.js"></script>

    <script src="~/Content/js/scrolling-nav.js"></script>
    <script src="~/Content/js/jquery.easing.min.js"></script>

  
</body>
</html>
