﻿

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EasyGhaat</title>







    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <!-- Owl Carousel -->
    <!--<link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/owl.theme.css"/>-->
    <!-- Pretty Photo -->
    <!--<link rel="stylesheet" href="css/prettyPhoto.css"/>-->
    <!-- Main color style -->
    <link rel="stylesheet" href="~/Content/css/red.css" />
      
    <link rel="stylesheet" href="~/Content/css/custom.css" />
    <link rel="stylesheet" href="~/Content/css/scrolling-nav.css" />
    <!-- Responsive -->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-social.css" />
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">



        <div class="row fixed abcfixed">


            <!-- Button trigger modal -->

            <p data-toggle="modal" data-target=".bs-example-modal-lg" class="abcp">
                <span style="color: #FFF;font-size: large;">Instant Order</span>
            </p>
            </div>

      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <div class="logo img-responsive">
                        <a class="navbar-brand logo-link large-logo" href="@Url.Action("Index", "Home")">
                            <img src="~/Content/images/logo.png" alt="" /> </a>
                        <a class="navbar-brand logo-link scrolling-logo large-logo" href="@Url.Action("Index", "Home")">
                            <img src="~/Content/images/footer-logo1.png" alt="" />
                        </a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right" id="navbar-right">

                      <li>
                        <a href="@Url.Action("Index","Home")">Home</a>
                      </li>
                      <li>
                        <a href="@Url.Action("Index","AboutUsPage")">About Us</a>
                      </li>
                      <li>
                        <a href="@Url.Action("Index","Service")">Services</a>
                      </li>
                      <li>
                        <a href="@Url.Action("Index","Offer")">Offer</a>
                      </li>
                      <li>
                        <a href="@Url.Action("Index","ContactUS")">Contact Us</a>
                      </li>
                        <li><a href="@Url.Action("Index","Login")"><i class="fa fa-fw fa-lock fa-lg" aria-hidden="true"></i>Login / Register</a> </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
</nav>
   




        <!-- Javascript Files
            ================================================== -->
        <!-- initialize jQuery Library -->
        <!-- initialize jQuery Library -->
        <!-- Main jquery -->
        <script type="text/javascript" src="~/Content/js/jquery.js"></script>
        <!-- Bootstrap jQuery -->
        <script src="~/Content/js/bootstrap.min.js"></script>
        <!-- Owl Carousel -->
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <!-- Isotope -->
        <script src="~/Content/js/jquery.isotope.js"></script>
        <!-- Pretty Photo -->
        <script type="text/javascript" src="~/Content/js/jquery.prettyPhoto.js"></script>
        <!-- SmoothScroll -->
        <script type="text/javascript" src="~/Content/js/smooth-scroll.js"></script>
        <!-- Image Fancybox -->
        <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js?v=2.1.5"></script>
        <!-- Counter  -->
        <script type="text/javascript" src="~/Content/js/jquery.counterup.min.js"></script>
        <!-- waypoints -->
        <!--<script type="text/javascript" src="js/waypoints.min.js"></script>-->
        <!-- Bx slider -->
  <script type="text/javascript" src="~/Content/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="~/Content/js/jquery.bxslider.js"></script>

 
  
  <!-- Easing js -->
        <script type="text/javascript" src="~/Content/js/jquery.easing.1.3.js"></script>
        <!-- PrettyPhoto -->
        <!--<script src="js/jquery.singlePageNav.js"></script>-->
        <!-- Wow Animation -->
        <!--<script type="js/javascript" src="js/wow.min.js"></script>-->
        <!-- Google Map  Source -->
        <!-- Custom js -->
        <script src="~/Content/js/custom.js"></script>

        <script src="~/Content/js/scrolling-nav.js"></script>
        <script src="~/Content/js/jquery.easing.min.js"></script>

</body>
</html>