﻿

@model dynamic
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        alert("SuccessFully Added ");
    </script>
}

@if (TempData["Message-1"] != null)
{
    <script type="text/javascript">
        alert("Already Exists Please delete first");
    </script>
}



<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-md-12">
            <h3 class="page-header">
                Add Referral Amount
            </h3>
            <form method="post" action="@Url.Action("Add", "AddReferrralAmount")">
                <div class="col-md-8">
                    <label>Refer Role</label>
                    <select required name="ddlReferRole" class="form-control" id="ddlReferRole">
                        <option value="">Select ReferRole</option>
                        @foreach (EasyGhaat.Models.ReferRoleType ReferRoleType in Model.ReferRoleTypes)
                        {
                            <option value="@ReferRoleType.Id">@ReferRoleType.RoleName</option>
                        }
                    </select>
                    <br />
                    <label>Amount</label>
                    <input type="number"  min="1" max="100" name="txtAmount" id="txtAmount" class="form-control" required="" />
                    <br />
                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewReferralAmount")">View Referral Amounts</a>
                </div>
            </form>
        </div>
    </div>
</div>




