﻿@model IEnumerable<EasyGhaat.Models.TimeSlot>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        @if (Model != null)
            {
            <div class="row">

                <div class="col-lg-12">
                    <h4 class="page-header">
                        View TimeSlots
                    </h4>
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">

                                <th><center>From Time</center></th>
                                <th><center>Time To</center></th>
                                <th><center>Task Limit</center></th>
                                <th><center>Branch Name</center></th>
                                <th><center>Status</center></th>
                                <th width="50px">Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td hidden="hidden">@item.id</td>
                                    <td>@item.FromTime</td>
                                    <td>@item.ToTime</td>
                                    <td>@item.TaskLimit</td>
                                    <td>@item.Branch.Name</td>
                                    @if (item.IsActive == false)
                                    {

                                        <td>@Html.ActionLink("Active", "DoActive", "ViewTimeSlot", new { id = @item.id }, new { onclick = "return confirm('Do you really want to Active the  " + @item.id + "?')" })</td>
                                    }
                                    else
                                    {
                                        <td>@Html.ActionLink("DeActive", "DoUnActive", "ViewTimeSlot", new { id = @item.id }, new { onclick = "return confirm('Do you really want to DeActive the  " + @item.id + "?')" })</td>

                                    }


                                    <td>@Html.ActionLink("Delete", "Delete", "ViewTimeSlot", new { id = @item.id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.id + "?')" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <a href="@Url.Action("Index","AddTimeSlot")">Add More</a>
                </div>

            </div>
        }
        else
        {

        }
    </div>

</div>




