﻿@model EasyGhaat.Models.Footer_content
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@*<script src="~/scripts/tinymce/tinymce.js"></script>
<script src="~/scripts/main.js"></script>*@
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Add Footer
                </h1>
                <form method="post" action="@Url.Action("Submit","UpdateFooter")">
                    <div class="col-md-6">
                        <label>Title1</label>
                        <input type="text" name="title1" id="title1"  value="@Model.title1" class="form-control" />
                        <label>Content1</label>
                        <textarea name="Content1"  rows="8" cols="8" id="Content1" value="@Model.content1"  class="form-control">
                            @Model.content1
                        </textarea>
                        <label>Title2</label>
                        <input type="text" name="title2" id="title2" value="@Model.title2"  class="form-control" />
                        <label>Content2</label>
                        <textarea name="Content2" id="Content2" rows="8" cols="8" value="@Model.content2"  class="form-control">
                            @Model.content2
                        </textarea>
                        <label>Title3</label>
                        <input type="text" name="title3" id="title3" value="@Model.title3"  class="form-control" />
                        <label>Content3</label>
                        <textarea name="Content3" id="Content3" rows="8" cols="8"  value="@Model.content3"  class="form-control">
                            @Model.content3
                        </textarea>
                        <label>Title4</label>
                        <input type="text" name="title4" value="@Model.title4"  id="title4" class="form-control" />
                        <label>Content4</label>
                        <textarea name="Content4" id="Content4" rows="8" cols="8"  value="@Model.content4" class="form-control">
                            @Model.content4
                        </textarea>
                    
                        <br />
                        <input type="submit" value="Submit" />
                        <input type="hidden" id="hdnId" value="@Model.id" name="hdnId" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


