﻿@using EasyGhaat;


@model  dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<html class="no-js">


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0uuYBqpPt5Is9jOWlNkUMFteEQ5D-cfo"></script>
    <script src="~/Scripts/jquery.googlemap.js"></script>

    <script type="text/javascript">
        $(function () {

            $("#map").googleMap();

            $.get('/api/add_location', {}, function (Google_data)
            {
                JSON.stringify(Google_data);
                $.each(Google_data, function (index, g_data) {
                    $("#map").addMarker({
                        coords: [g_data.lat, g_data.Long],
                        title: g_data.Address
                    });

                    //Table used for displaying google data
                  // $('#google_tab').append('<tr><td>' + g_data.ID + '</td><td>' + g_data.latitude + '</td><td>' + g_data.longitude + '</td><td>' + g_data.tittle + '</td></tr>');

                });
            });


        });
    </script>

<body>

    <section id="service">

        <div class="container">
            <!-- Welcome -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">Contact Us</h2>
                        @*<p class="subtitle">Duis autem vel eum iriure dolor</p>*@

                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
            <div class="row">
                <div class="main_feature text-center">
@foreach (EasyGhaat.Models.contact_content content in Model.contact_content)
{
                    <div class="col-md-4 col-sm-6">
                        <div class="feature_content">
                         
                                <h4 align="center">Contact Us</h4>
                            <p><span class="fa fa-home"></span>@content.address</p>

                                <p><span class="fa fa-phone"></span>@content.contact_no</p>
                                <p><span class="fa fa-envelope"></span>@content.email</p>
                 
                        </div>
                        <p>&nbsp;</p>
                        <div class="col-sm-3"></div>


                    </div>
}
                    <!-- Col-md-4 Single_feature End -->
        
      
                </div>


            </div>  <!-- Row End -->
            <!-- Row End -->
            <!-- Container End -->
        </div>
    </section>
    

    <!--Map-->
    <section id="about">
        <div class="container">
            <!-- Welcome -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">Our Location</h2>
                        @*<p class="subtitle">Duis autem vel eum iriure dolor</p>*@

                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
        </div>
        <!-- Row End -->
        <!-- Row End -->
        <!-- Container End -->
        <div id="contact" class="map">
             <div id="map" style="width: 600px; height: 400px; margin-top:20px;"></div>
        </div>

    </section>

<section id="service" style="background:#32c2e5">

        <!-- download button strart-->
        <!-- End download button-->


        <div class="container">
            <!-- Welcome -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h2 class="decorated-heading wow fadeInUp animated" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp; color:#FFFFFF">FeedBack</h2>
                        <p class="subtitle" style="color:#FFFFFF;">Duis autem vel eum iriure dolor</p>
                        <p>&nbsp;</p>
                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
        </div>
        <!-- Row End -->
        <!-- Row End -->
        <!-- Container End -->
        <div class="row">
            <div class="container">
                <div class="col-lg-12">
                    @*<form name="sentMessage" id="contactForm" novalidate>*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" name="name" required data-validation-required-message="Please enter your name." style="padding: 20px;">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" name="email" required data-validation-required-message="Please enter your email address." style="padding: 20px;">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone"  name="phone"required data-validation-required-message="Please enter your phone number." style="padding: 20px;">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" name="message" required data-validation-required-message="Please enter a message." rows="7"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" value="Submit" name="Submit" id="btnSubmit" class=" btn btn-xl" style="background: #32c2e5;color: white;border: 1px solid #13325f;">Send Message</button>
                            </div>
                        </div>
                    @*</form>*@
                </div>

            </div>
        </div>
    </section>

    <!--endMap-->














    <!--footer-->
    <section id="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
                    {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title1</h3>

                            <img src="@Url.Content(Footer.content1)" alt="" class="img-responsive">

                        </div>
                    }
                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title2</h3>
<div class="footer_menu">
                        <ul>

                            @Html.Raw(Footer.content2)
</ul></div>
                        </div>
                    }



                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title3</h3>
<div class="footer_menu">
                        <ul>

                            @Html.Raw(Footer.content3)
</ul></div>
                        </div>
                    }




                    @foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
            {


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="menu_head">@Footer.title4</h3>

                            <img src="@Url.Content(Footer.content4)" alt="" class="img-responsive">

                        </div>
                    }




                </div>
                <label>&nbsp;</label>
@foreach (EasyGhaat.Models.Footer_content Footer in Model.Footer_content)
{


    <center>
        <p style="color:#FFFFFF">

            @Footer.copyright
            Developed by: <a href="http://www.zeusadsolutions.com" alt="Software Company" title="Software Development and Web Development Company" target="_blank">ZeusAdSolutions</a>
        </p>
    </center>
}
            </div>

        </div>

    </section>
    <!--footer end-->
    <div id="back-top">

    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>
    <!-- Javascript Files
        ================================================== -->
    <!-- initialize jQuery Library -->

    <!--FEED BACK SECTION JAVASCRIPT-->
    <script type="text/javascript">

            $(document).ready(function () {
                $(function () {

                    $('#btnSubmit').click(function () {
                        if (($('#name').val() == "") && ($('#email').val() == "") && ($('#phone').val() == "")) 
                        {
                            alert("Name, Email and Phone Number cant be blank");
                            return;
                        }
                        $.ajax({
                            type: "POST",
                            contentType: "application/json;charset=utf-8",
                            url: "/ContactUS/Submit",
                            data: "{'Name':'" + $('#name').val() + "', 'Email':'" + $('#email').val() + "','PhoneNumber':'" + $('#phone').val() + "','Message':'" + $('#message').val() + "'}",
                            async: false,
                            success: function (response) {

                                $('#name').val("");
                                $('#email').val("");
                                $('#phone').val("");
                                $('#message').val("");

                                if (response.d == "true")
                                {
                                    alert("sent");

                                }
                                   else
                                {
                                    alert("sent");
                               }
                            },
                            error: function () {
                                console.log("there is some error");
                            }
                        });
                    });
                });
            });
    </script>




    <!-- initialize jQuery Library -->
    <!-- Main jquery -->
    <script type="text/javascript" src="../js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="../js/owl.carousel.min.js"></script>
    <!-- Isotope -->
    <script src="../js/jquery.isotope.js"></script>
    <!-- Pretty Photo -->
    <script type="text/javascript" src="../js/jquery.prettyPhoto.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="../js/smooth-scroll.js"></script>
    <!-- Image Fancybox -->
    <script type="text/javascript" src="../js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Counter  -->
    <script type="text/javascript" src="../js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="../js/waypoints.min.js"></script>
    <!-- Bx slider -->
    <script type="text/javascript" src="../js/jquery.bxslider.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="../js/jquery.scrollTo.js"></script>
    <!-- Easing js -->
    <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
    <!-- PrettyPhoto -->
    <script src="../js/jquery.singlePageNav.js"></script>
    <!-- Wow Animation -->
    <script type="js/javascript" src="../js/wow.min.js"></script>
    <!-- Google Map  Source -->
    <!-- Custom js -->
    <script src="../js/custom.js"></script>
    <script src="../js/scrolling-nav.js"></script>
    <script src="../js/jquery.easing.min.js"></script>

   
   
   
   
   

</body>






</html>