﻿@model EasyGhaat.Models.Footer_content
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

@*<script src="~/scripts/tinymce/tinymce.js"></script>
<script src="~/scripts/main.js"></script>*@
@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFull");

    </script>

}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                   Add Footer
                </h1>

                @if(Model!=null)
                {
                <form method="post" action="@Url.Action("Edit","AddFooter")">
                    <div class="col-md-6">
                        <label>Title1</label>
                        <input type="text" name="title1" value="@Model.title1" id="title1" required="" class="form-control" />
                        <br />
                        <label>Content1(ImagePath)</label>
                        <textarea name="Content1" rows="8" cols="8" required="" id="Content1" value="@Model.content1" class="form-control">

                          @Model.content1

                        </textarea>
                        <br />
                        <label>Title2</label>
                        <input type="text" name="title2" value="@Model.title2" id="title2" required="" class="form-control" />
                        <br />
                        <label>Content2</label>
                        <textarea name="Content2"  rows="8" cols="8" required="" id="Content2" value="@Model.content2" class="form-control">
                            @Model.content2
                        </textarea>
                        <br />
                        <label>Title3</label>
                        <input type="text" name="title3"  value="@Model.title3" id="title3" required="" class="form-control" />
                        <br />
                        <label>Content3</label>
                        <textarea name="Content3" rows="8" cols="8" required="" value="@Model.content3" id="Content3" class="form-control">
                           @Model.content3
                        </textarea>
                        <br />
                        <label>Title4</label>
                        <input type="text" name="title4"  value="@Model.title4"  id="title4" required="" class="form-control" />
                        <br />
                        <label>Content4(ImagePath)</label>
                        <textarea name="Content4" rows="8" cols="8" required="" id="Content4" value="@Model.content4" class="form-control">
                            @Model.content4
                        </textarea><br />
                        <label>CopyRight Content</label>
                        <textarea name="copyright" rows="8" cols="8" required="" id="copyright" value="@Model.copyright" class="form-control">
                            @Model.copyright
                        </textarea>
                        <br />

                 
                            <input type="submit" class="btn btn-primary" value="Submit" />

                            <input type="hidden" id="hdnId" value="@Model.id" name="hdnId" />

</div>
                </form>
                }
                else
                {
                    <form method="post" action="@Url.Action("Submit","AddFooter")">
                        <div class="col-md-6">
                            <label>Title1</label>
                            <input type="text" name="title1"  id="title1" required="" class="form-control" />
                            <label>Content1</label>
                            <textarea name="Content1" rows="8" cols="8" required="" id="Content1"  class="form-control">
                             
                            </textarea>
                            <label>Title2</label>
                            <input type="text" name="title2"  id="title2" required="" class="form-control" />
                            <label>Content2</label>
                            <textarea name="Content2" rows="8" cols="8" required="" id="Content2"  class="form-control">
                             
                            </textarea>
                            <label>Title3</label>
                            <input type="text" name="title3"  id="title3" required="" class="form-control" />
                            <label>Content3</label>
                            <textarea name="Content3" rows="8" cols="8" required=""  id="Content3" class="form-control">
                              
                            </textarea>
                            <label>Title4</label>
                            <input type="text" name="title4"  id="title4" required="" class="form-control" />
                            <label>Content4</label>
                            <textarea name="Content4" rows="8" cols="8" required="" id="Content4"  class="form-control">
                               
                            </textarea>
                            <label>CopyRight Content</label>
                            <textarea name="copyright" rows="8" cols="8" required="" id="copyright"  class="form-control">
                         
                            </textarea>
                            <br />
                            <input type="submit" class="btn btn-primary" value="Submit" />                          
                        </div>
                    </form>




                }
            </div>
        </div>
    </div>
</div>


