﻿

@model IEnumerable<EasyGhaat.Models.PriceTable>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">
                    View Price List
                </h3>
                @if (Model != null)
                {
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr style="background-color:#2e6da4;color:white;">
                                <th><center>Image</center></th>
                                <th><center>ProductName</center></th>
                                <th><center>ServiceName</center></th>
                                <th><center>BranchName</center></th>
                                <th><center>Price</center></th>
                                <th><center>Unit</center></th>
                                <th width="50px">Edit</th>
                                <th width="50px">Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden="hidden">@item.Id</td>
                                    <td style="width:50px; height:50px"><img src="@Url.Content(item.Product.ImgUrl)" alt="" class="img-responsive"></td>
                                    <td><center>@item.Product.Name</center></td>
                                    <td><center>@item.Service.Name</center></td>
                                    <td><center>@item.Branch.Name</center></td>
                                    <td><center>@item.Price</center></td>
                                    <td><center>@item.Unit_Type.U_Type</center></td>
                                    <td><center>@Html.ActionLink("Edit", "Index", "EditPriceList", new { id = @item.Id }, null)</center></td>
                                    <td><center>@Html.ActionLink("Delete", "Delete", "ViewPriceList", new { id = @item.Id }, new { onclick = "return confirm('Do you really want to delete the  " + @item.Id + "?')" })</center></td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <a href="@Url.Action("Index", "AddPriceList")">Add More</a>
                                </td>
                            </tr>
                        </tbody>




                    </table>
                }

                else

                {





                }
            </div>
        </div>

    </div>
</div>

