﻿


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MasterAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">

            alert("SuccessFully Added Bag");

    </script>

}


<script type="text/javascript">


    $(document).ready(function () {


        $('.alphaonly').bind('keyup blur', function () {
            var node = $(this);
            node.val(node.val().replace(/[^a-z ]/g, ''));
        }
       );
    });




    $(document).ready(function () {

        //called when key is pressed in textbox
        $("#weight").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });


        $("#Price").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });


        $("#Count").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });


    });




















     </script>














<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Add Laundry Bag
                </h3>

                <form method="post" enctype="multipart/form-data" action="@Url.Action("Add","AddLaundryBag")">
                    <div class="col-md-6">
                        <label>Material Name</label>
                        <input type="text" name="MaterialName" required="" maxlength="50" id="MaterialName" class="form-control alphaonly" />
                        <br />
                        <label>weight Capacity</label>
                        <input type="text" name="weight"   maxlength="4"   required="" id="weight" class="form-control" />
                        <br />
                        <label>Count Capacity</label>
                        <input type="text" name="Count" maxlength="3"  required="" id="Count" class="form-control" />
                        <br />
                        <label>Price</label>
                        <input type="text"    name="Price" required=""  maxlength="3"  id="Price" class="form-control" />
                        <br />
                        <label>Bag Image</label>
                        <input type="file" id="file" name="files" accept="image/*" required="" />
                        <br />
                        <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","ViewLaundryBags")">View Laundrybag</a>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>


