﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EasyGhaat</title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <!-- Owl Carousel -->
    <!--<link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/owl.theme.css"/>-->
    <!-- Pretty Photo -->
    <!--<link rel="stylesheet" href="css/prettyPhoto.css"/>-->
    <!-- Main color style -->
    <link rel="stylesheet" href="~/Content/css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="~/Content/css/custom.css" />
    <link rel="stylesheet" href="~/Content/css/scrolling-nav.css" />
    <!-- Responsive -->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <!--<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />-->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-social.css" />


    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">

        alert("Already Used Otp please try another");

        </script>
    }

</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div>
            <div class="row fixed abcfixed">


                <!-- Button trigger modal -->

                <p data-toggle="modal" data-target=".bs-example-modal-lg" class="abcp">
                    <span style="color: #FFF;font-size: large;">Instant Order</span>
                </p>

                <!-- Modal -->
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="~/Content/images/logo.png" />
                                    </div>

                                    <div class="col-md-4">
                                        <p align="center"><span class="modal-title instantorder " id="myModalLabel">Instant Order</span></p>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>



                            </div>

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-5" style="margin-left:20px;">

                                        <p align="center">Please enter your details below to login</p>
                                        <center>
                                            <ul class="breadcrumbs breadcrumbsleft">
                                                <li><a href="index.html" class="current">Login Details</a></li>
                                                <li><a href="address.html">Address Details</a></li>
                                                <!--<li><a href="service.html" >Service Details</a></li>
                                                <li><a href="review.html">Review & Coupan</a></li>-->
                                            </ul>
                                        </center>
                                        <div class="tab-content">
                                            <!--=========end login details===============-========-->
                                            <div id="logindet" class="tab-pane fade in active">
                                                @*<form method="post" action="@Url.Action("login","instantLogin")">*@
                                                    <div class="form-group">

                                                        <div class="input-group">
                                                            <input type="text" id="mobile" name="mobile" class="form-control" placeholder="Enter your mobile no.">
                                                            <span class="input-group-btn">
                                                                <button  id="btnGenerateOtp"  class="btn btn-primary" onclick="sendOTP()" type="submit">Generate OTP</button>
                                                            </span>
                                                        </div><!-- /input-group -->
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="OTP"  name="OTP"    placeholder="OTP">

                                                        </div>

                                                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                                            <div class="btn-group" role="group">
                                                                <!-- <button type="button" class="btn btn-default">Left</button>-->
                                                            </div>
                                                            <div class="btn-group" role="group">
                                                                <button type="submit" onclick="verifyOTP()" class="btn btn-primary " id="btnSubmit" value="">continue</button>
                                                                <p>&nbsp;</p>
                                                            </div>
                                                            <div class="btn-group" role="group">
                                                                <!-- <button type="button" class="btn btn-default">Right</button>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                @*</form>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <center><div class="vertical-line horisty" />
                                    </div></center>
                                </div>
                                <div class="col-md-4">
                                    <center>
                                        <div class="tab-content">

                                            <div id="logindet" class="tab-pane fade in active ">

                                                <form class="form-inline">
                                                    <p>You can also login using one of your Social Account</p>
                                                    <p>&nbsp;</p>
                                                    <div class="form-group" style="width: 100%;padding: 0 0px 5px 0px;">
                                                        <a href="#" class="btn btn-block btn-social btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
                                                            <span class="fa fa-facebook" style="color: #ffffff;"></span> Sign in with Facebook
                                                        </a>
                                                    </div>
                                                    <div class="form-group" style="width: 100%;padding: 0 0px 5px 0px;">
                                                        <a href="#" class="btn btn-block btn-social btn-twitter" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-twitter']);">
                                                            <span class="fa fa-twitter" style="color: #ffffff;"></span> Sign in with Twitter
                                                        </a>
                                                    </div>
                                                    <div class="form-group" style="width: 100%;padding: 0 0px 5px 0px;">
                                                        <a href="#" class="btn btn-block btn-social btn-google" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-google']);">
                                                            <span class="fa fa-google" style="color: #ffffff;"></span> Sign in with Google
                                                        </a>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </center>
                                </div>

                            </div>
                        </div>



                        <!--<div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>-->
                    </div>
                </div>

            </div>
        </div>



        <!-- Javascript Files
            ================================================== -->
        <!-- initialize jQuery Library -->
        <!-- initialize jQuery Library -->
        <!-- Main jquery -->
        <script type="text/javascript" src="~/Content/js/jquery.js"></script>
        <!-- Bootstrap jQuery -->
        <script src="~/Content/js/bootstrap.min.js"></script>
        <!-- Owl Carousel -->
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <!-- Isotope -->
        <script src="~/Content/js/jquery.isotope.js"></script>
        <!-- Pretty Photo -->
        <script type="text/javascript" src="~/Content/js/jquery.prettyPhoto.js"></script>
        <!-- SmoothScroll -->
        <script type="text/javascript" src="~/Content/js/smooth-scroll.js"></script>
        <!-- Image Fancybox -->
        <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js?v=2.1.5"></script>
        <!-- Counter  -->
        <script type="text/javascript" src="~/Content/js/jquery.counterup.min.js"></script>
        <!-- waypoints -->
        <!--<script type="text/javascript" src="js/waypoints.min.js"></script>-->
        <!-- Bx slider -->
        <script type="text/javascript" src="~/Content/js/jquery.bxslider.min.js"></script>
        <!-- Scroll to top -->
        <script type="text/javascript" src="~/Content/js/jquery.scrollTo.js"></script>
        <!-- Easing js -->
        <script type="text/javascript" src="~/Content/js/jquery.easing.1.3.js"></script>
        <!-- PrettyPhoto -->
        <!--<script src="js/jquery.singlePageNav.js"></script>-->
        <!-- Wow Animation -->
        <!--<script type="js/javascript" src="js/wow.min.js"></script>-->
        <!-- Google Map  Source -->
        <!-- Custom js -->
        <script src="~/Content/js/custom.js"></script>
        <script src="~/Content/js/scrolling-nav.js"></script>
        <script src="~/Content/js/jquery.easing.min.js"></script>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>


        <script type="text/javascript">



            function sendOTP()
            {
                var num = $('#mobile').val();           
                var data =
                {                  
                    senderId: "ESYGHT",
                    mobileNumber:num,
                    authKey: "126731AHiYfMBn9u457ec94b3",
                };
	$.ajax({
	    url: "/InstantLogin/SendSms",
	    type: "POST",
		dataType: "json",
		data: data,
		success: function (response)
		{
		    if (response == "true")
		    {
		        alert("OTP sent!");
		    }
	
		},
		error: function (jqXHR, textStatus, ex)
		{
	        console.log(textStatus + "," + ex + "," + jqXHR.responseText);
		}
	});
   }

            function verifyOTP()
            {
                var num = $('#mobile').val();
                var otp = $('#OTP').val();

                var data =
                {                  
                    mobileNumber: num,
                    otppwd: otp,                  
                };

                $.ajax({
                    url: "/InstantLogin/Verify",
                    type: "POST",
                    dataType: "json",
                    data: data,
                    success: function (response)
                    {
                        if (response ="No")
                        {
                            alert("Successfully Verified");
                            window.location.href = '@Url.Action("../InstantAddress", "Index")';
                        }

                        if (response ="Yes")
                        {
                            alert("Already Used OTP");
                        }                   
                    },
                    error: function (jqXHR, textStatus, ex) {
                        console.log(textStatus + "," + ex + "," + jqXHR.responseText);
                    }
                });
            }


   </script>



















        @*<script type="text/javascript">

            $(document).ready(function () {

                $(function () {


                    $('#btnGenerateOtp').click(function () {
                        if ($('#mobile').val() == "")
                        {
                            alert("Please Enter Mobile Number");
                            return;
                        }
                  

                        var num = $('#mobile').val();


                        var dataObject =
                        {
                            countryCode: "91",
                            mobileNumber: num,
                            getGeneratedOTP: true
                        }


                        $.ajax({
                            type: "POST",
                            contentType: "application/json;charset=utf-8",
                            ApplicationKey: "nMulk94lzzdK4pnVppoGKK74lO-3ZKAG_NFCBwQ1UkQOO9aDlUlSeR4i7W5o1zjZo0GMhA6np5JNaka4jVYipyWneM5zmmYcDDXTkfJHCDqVPvE6IPiemhKl6q44dmTrzprOGMzxBehSjZKSxus9Qw==",
                            url:"https://sendotp.msg91.com/api/generateOTP",
                            data: dataObject,
                            dataType: "json",
                            success: function (response) {

             

                            },
                            error: function () {
                                console.log("there is some error");
                            }
                        });
                    });
                });
            });
        </script>*@











</body>
</html>
