﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<section id="service">

    <!-- download button strart-->
    <!-- End download button-->

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist" style="background: #dddddd;">
                        <li role="presentation " class="logwidth1">
                            <a href="@Url.Action("Index", "Login")">
                                <center> <span class="text">LOGIN</span></center>
                            </a>
                        </li>
                        <li role="presentation" class="logwidth1">
                            <a href="@Url.Action("Index", "SignUp")">
                                <center><span class="text">SIGNUP</span></center>
                            </a>
                        </li>
                        <li role="presentation" class="logwidth1 active">
                            <a href="#otp" role="tab" id="otp-tab" data-toggle="tab" aria-controls="profile">
                                <center><span class="text">OTP CONFIRMATION</span></center>
                            </a>
                        </li>

                    </ul>

                </div>


            </div>
            <div class="col-md-3"></div>
        </div>
        <!-- Welcome -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">

            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">

            <div class="col-md-4"></div>

            <div class="col-md-4">

                <div class="panel with-nav-tabs panel-default" style=" border:none">

                    <div class="panel-body">

                        <div class="tab-content">

                            <!--======================================
                            Login
                            ========================================-->
                            <div class="tab-pane fade in active" id="otp">
                                <form role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" id="" value="" placeholder="Mobile No.">
                                    </div>

                                    <div class="form-group">

                                        <input type="text" class="form-control" name="otp" id="" value="" placeholder="Enter OTP No.">
                                    </div>


                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                        <div class="btn-group" role="group">
                                            <!-- <button type="button" class="btn btn-default">Left</button>-->
                                        </div>
                                        <div class="btn-group" role="group" style="width: 5px;">
                                            <button type="button" class="btn btn-primary" value="">Confirm</button>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <!-- <button type="button" class="btn btn-default">Right</button>-->
                                        </div>
                                    </div>



                                </form>
                            </div>
                            <!--========================================================
                                  Signup
                            =========================================================-->
                            <!--========================================================
                                    User Details
                              =========================================================-->
                            <!--========================================================
                                   Forget Password
                             =========================================================-->
                            <!-- ===============================================
                                    confirm password
                            =====================================================-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div> <!-- Col-md-12 End -->
    </div>
    <!-- Row End -->
    <!-- Row End -->
    <!-- Container End -->
</section>



@Html.Partial("~/Views/PStrip/Index.cshtml");